!!! 5
%html
 %head
  %title Netopay Finance
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:"Netopay Finance"}
  %meta{name:"keywords", content:"Netopay Finance"}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  %link{rel:'icon', type:'image/png', href:'../favicon.png'} 
  
  %link{href:"css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"js/min/jquery-min.js"}
  %script{src:"js/min/head-min.js"}
  %script{src:"js/min/headjq-min.js"}
  %script{src:"js/min/slides-min.js"}
  %script{src:"js/min/form-min.js"}
  %script{src:"js/min/check-min.js"}

 
 %body
  %script{src:'../mail/mail-min.js'}
  .thk.off	Your message was sent. Thank you!
  .popup.off
   
   .fig.big_hero-1.off 
    %img{src:'images/svg/01.svg', class:'imgs'}
   .fig.big_hero-2.off
    %img{src:'images/svg/02-en.svg', class:'imgs'}
     
   .fig.big_hero-3.off 333333 
   
   .x#close
    %img{src:'images/svg/cross.svg'}
   
    
    
  
  %header
   .logo
    %a{href:'/ua'}
     %img{src:"images/svg/logo.svg"}
   
   
   .langnav.unpub EN
   .mobnav MENU
   
   .langs
    %ul
     %li
      %a{href:'/ua'} UA
     %li
      %a{href:'/ru'} RU
     %li
      %a{href:'/en'} EN
     
   

   
   
   .nav
    %ul
     %li
      %a{href:'#home'}  Home
     %li
      %a{href:'#about'} About
     %li
      %a{href:'#work'} How it works
     %li
      %a{href:'#withus'} Cooperation
     %li
      %a{href:'#exp'} Experience
     %li
      %a{href:'#contacts'} Contact
  
  
  %section.start#home
   .overlay
    .hello
     %img{src:'images/svg/stua.svg'}
    .next 
    .scroll.animated.bounceMouse 
   
   
   
   .loops 
    #slides
     .slides-container
      %img{src:"images/bgs/01.jpg"}
      %img{src:"images/bgs/02.jpg"}
      %img{src:"images/bgs/03.jpg"}
      %img{src:"images/bgs/04.jpg"}
      %img{src:"images/bgs/05.jpg"}
    
    
       
   
  #about
   %section.section.about
    .marker#m1
    .inner
     .mobile-anim.mob_bg1
     .block-anim
      .elem.pin1.vhid
      .elem.pin2.vhid
      .elem.pin3.vhid
      .elem.pin4.vhid
      .elem.pin5.vhid
      .elem.pin6.vhid
      .elem
      .elem
     .half.about_left.vhid#t1
      %h1 About project
      %p Netopay Finance is a regional financial ecosystem that enables the creation of innovative and successful region
      %p Netopay Finance provides the use of universal payment arrangements in electronic form, the implementation of which contributes to the effective and transparent interaction between the public, business and regional (municipal) authorities.
     .half.about_right
     .clear
    
    
   %section.section.pluses
    .marker#m2
    .inner
     .mobile-anim.mob_bg2
     .block-anim
      .elem.g1.vhid
      .elem.g2.vhid
      .elem.g3.vhid
      .elem.g4.vhid
      .elem.g5.vhid
     .half.pluses_left
     .half.pluses_right.vhid#t2
      %h1 Advantages
      %ul
       %li Increase of welfare and living standards of population
       %li Establishing the equal conditions for doing business and reducing the tax burden
       %li Business development and creating new jobs
       %li Targeted and transparent use of public funds
       %li Improvement of infrastructure, level of social security and welfare of the region
       %li Increase of social attractiveness of the region
       %li Детінізація економіки та захист від корупції
     .clear
    
  #work
   %section.section.work
    .marker#m3
    .inner
     .mobile-anim.mob_bg3
     .block-anim
     .half.work_left.vhid#t3
      %h1 How it works
      %p Netopay Finance implementation provides the organization of mutual settlements within the region between residents, businesses and authorities using the equivalent of values in electronic form
      %p Quant.Regio is an equivalent of values, which is used as payment unit for settlements in Netopay Finance.
      .schemes
       .sch_btn{id:'sch1'} Example 1
       .sch_btn{id:'sch2'} Example 2
     .half.work_right
      .elem.gear1.spin2
      .elem.gear2.spin
      .elem.gear3.spin
     .clear
    
    
    
   %section.quant
    .marker#m4
    .inner.center
     .quant-elems.quant-side
      %p.vhid#t5
       %span.q Quant.
       %span.qr Regio
       fully protected. It cannot be stolen, counterfeited or damaged.
       %span.q Quant.
       %span.qr Regio 
       can be used exclusively by its owner
      %p.vhid#t6
       %span.q Quant.
       %span.qr Regio
       has characteristics of traditional cash and provides the possibility for settlement transactions
     .quant-elems.quant-center.pulsed
      %img{src:'images/svg/quant.svg'}
     .quant-elems.quant-side
      %p.vhid#t7
       %span.q Quant.
       %span.qr Regio
       is protected against inflation and crises due to the complete securing by tangible or intangible assets
      %p.vhid#t8
       %span.q Quant.
       %span.qr Regio
       provides a targeted use of budgetary funds and complicates the possibilities of application of corruption schemes
     .clear
     .quant_example_block
      %h2 PAYMENT VIA NETOPAY FINANCE
      .quant-step
       .step_icon
        %img{src:'images/svg/1_01.svg'}
       .step_anno The user selects Netopay Finance as the method  of payment for the goods
      .quant-step
       .step_icon
        %img{src:'images/svg/1_02.svg'}
       .step_anno The barcode for scanning displays on the smartphone screen
      .quant-step
       .step_icon
        %img{src:'images/svg/2_03.svg'}
       .step_anno The user confirms the payment by entering the PIN in the phone
      .quant-step
       .step_icon
        %img{src:'images/svg/2_04.svg'}
       .step_anno The cashier receives a message on the receipt of funds and provides the goods
      
   %section.rules
    .marker#m5
    .inner.center
     %h1.center.vhid#t9 Region's rules
     .anno-block.anno-block-mar.center.vhid#t10 The principle of differentiated allocation of contributions to the budget of the region is implemented in Netopay Finance, it eliminates the corruption and the misuse of paid taxes and fees. Each region establishes its own guidelines for the allocation of contributions and sets conditions of refunds to taxpayers if they follow the rules of the region. For example, if a person does not smoke and maintains a healthy lifestyle, he/she will be automatically refunded with the amount of paid deductions, which were targeted for the development of medicine in the region.

     .ex_btn.vhid#t11 Example      
  
  
  
  
  
   %section.city
   %section.gutter 
  
  
  
  
  
  
  
  
  
  %section.withus#withus
   .marker#m6
   .inner.center
    %h1 Cooperation
    .anno-block.anno-block-mar.center Netopay Finance today is an effective tool to combat the crisis and create conditions for the development industry, city or region. N. KRAT Group invites for cooperation:
    .withus-block
     .withus-1.vhid#t12
      .withus-icon
       %img{src:'images/svg/gov.svg'}
      .withus-anno Regional and municipal authorities
     .withus-1.vhid#t13
      .withus-icon
       %img{src:'images/svg/bus.svg'}
      .withus-anno Public and financial institutions
     .withus-1.vhid#t14
      .withus-icon
       %img{src:'images/svg/people.svg'}
      .withus-anno The population of the regions
      
  
  
  
  
  #exp
   %section.experience
    .marker#m8
    .inner.center
     %h1 Experience
     .anno-block.anno-block-mar Similar projects in Germany
     .links_block
    
      .one_link 
       .link_name Regio Hessen
       %a{class:'go_link', target:'_blank', href:'http://der-regio.de'} der-regio.de
    
      .one_link 
       .link_name Hellwegtaler
       %a{class:'go_link', target:'_blank', href:'http://divib.de'} divib.de   
    
      .one_link 
       .link_name Erzregio Gutscheine
       %a{class:'go_link', target:'_blank', href:'http://erzregio.de'} erzregio.de  
    
      .one_link 
       .link_name ZschopauTaler
       %a{class:'go_link', target:'_blank', href:'http://zschopautaler.info'} zschopautaler.info
     
      .one_link 
       .link_name CARLO
       %a{class:'go_link', target:'_blank', href:'http://carlo-regional.de'} carlo-regional.de
 
      .one_link 
       .link_name Elbtaler
       %a{class:'go_link', target:'_blank', href:'http://elbtaler.de'} elbtaler.de
     
      .one_link 
       .link_name Regio Bayern
       %a{class:'go_link', target:'_blank', href:'http://der-regio.de'} der-regio.de
    
      .one_link 
       .link_name KannWas
       %a{class:'go_link', target:'_blank', href:'http://kannwas.org'} kannwas.org

      .one_link 
       .link_name Gwinner
       %a{class:'go_link', target:'_blank', href:'http://gwinner-ev.de'} gwinner-ev.de

      .one_link 
       .link_name Ammerlechtaler
       %a{class:'go_link', target:'_blank', href:'http://ammerlechtaler.de'} ammerlechtaler.de
       
      
      
      
      
      .one_link 
       .link_name Freitaler
       %a{class:'go_link', target:'_blank', href:'http://freitaler.com'} freitaler.com
       
      .one_link 
       .link_name Donautaler
       %a{class:'go_link', target:'_blank', href:'http://donau-taler.de'} donau-taler.de
       
      .one_link 
       .link_name Sterntaler
       %a{class:'go_link', target:'_blank', href:'http://regiostar.com'} regiostar.com
       
      .one_link 
       .link_name Hallertauer
       %a{class:'go_link', target:'_blank', href:'hallertauer-regional.de'} hallertauer-regional.de
       
      .one_link 
       .link_name Chiemgauer
       %a{class:'go_link', target:'_blank', href:'http://chiemgauer.info'} chiemgauer.info
       
      .one_link 
       .link_name Ampertaler
       %a{class:'go_link', target:'_blank', href:'http://amper-taler.de'} amper-taler.de
       
      
      
      
      .one_link 
       .link_name Bergtaler
       %a{class:'go_link', target:'_blank', href:'http://bergtaler.de'} bergtaler.de
       
      .one_link 
       .link_name BürgerBlüte
       %a{class:'go_link', target:'_blank', href:'http://buergerbluete.de'} buergerbluete.de
       
      .one_link 
       .link_name Eder-Taler
       %a{class:'go_link', target:'_blank', href:'http://eder-taler.de'} eder-taler.de
       
      .one_link 
       .link_name Hohenloher Franken
       %a{class:'go_link', target:'_blank', href:'http://hohenloher-franken.de'} hohenloher-franken.de
       
      .one_link 
       .link_name Lausitzer
       %a{class:'go_link', target:'_blank', href:'lausitzer.net'} lausitzer.net
       
      .one_link 
       .link_name Lindentaler
       %a{class:'go_link', target:'_blank', href:'http://lindentaler.org'} lindentaler.org
       
      .one_link 
       .link_name Lunar
       %a{class:'go_link', target:'_blank', href:'http://regio-lunar.org'} regio-lunar.org
       
      .one_link 
       .link_name Pauer
       %a{class:'go_link', target:'_blank', href:'http://pauer-aachen.de'} pauer-aachen.de
       
      .one_link 
       .link_name RegioMark RheinMosel
       %a{class:'go_link', target:'_blank', href:'http://regiovereinkoblenz.de'} regiovereinkoblenz.de 
 
      
      .one_link 
       .link_name Brot€inheit
       %a{class:'go_link', target:'_blank', href:'http://wiben.de'} wiben.de
      
      
      .one_link 
       .link_name RemsTaler
       %a{class:'go_link', target:'_blank', href:'http://tauschring-waiblingen.de'} tauschring-waiblingen.de
       
      .one_link 
       .link_name Rheingold
       %a{class:'go_link', target:'_blank', href:'http://rheingoldregio.de'} rheingoldregio.de 
       
      .one_link 
       .link_name Roland
       %a{class:'go_link', target:'_blank', href:'http://roland-regional.de'} roland-regional.de 
       
      .one_link 
       .link_name Steintaler
       %a{class:'go_link', target:'_blank', href:'http://steintaler.org'} steintaler.org 
       
      .one_link 
       .link_name Teutotaler
       %a{class:'go_link', target:'_blank', href:'http://teutotaler.de'} teutotaler.de 
       
      .one_link 
       .link_name UrstromTaler
       %a{class:'go_link', target:'_blank', href:'http://urstromtaler.de'} urstromtaler.de   
 
  
  
  
   %section.pdf
    .marker#m9
    .inner.center
     .pdf-block
      .pdf-1.mp
       .pdf-icon
        %img{src:'images/svg/eu.svg'}
       .pdf-anno Complies with the EU Directives
      .pdf-1.mp
       .pdf-icon
        %img{src:'images/svg/ua.svg'}
       .pdf-anno Complies with the legislation of Ukraine
      .pdf-1.download
       .pdf-icon.pulsed
        %a{href:'../NetopayFinance_RU.pdf'} 
         %img{src:'images/svg/pdf.svg'}
       .pdf-anno Download presentation  PDF (0.4MB)
       
  %section.contacts#contacts
   .marker#m10
   .inner
    %h1.center Contact details
    .contacts-block
     .contacts-left
      .myform
       %form{id:'myform', method:'post', action:''}
        %input{class:'field', type:'text', placeholder:'E-mail', id:'em', name:'em', onkeyup:'check();'}
        %input{class:'field', type:'text', placeholder:'Subject', id:'sb', name:'sb', onkeyup:'check();'}
        %textarea{class:'field tx', placeholder:'Message', id:'feed', name:'feed'}
        %button{type:'submit', id:'send', class:'btn disable'} Send
     .contacts-right
      .contacts-details
       %p.hea N.KRAT Group GmbH
       %p.sep 44287, Dortmund, Germany
       %p Ringofenstrasse, 43
       %p.sep Fax: +49 231 444 781 01
       %p Tel: +49 231 444 781 00
       %p e-mail: de@nkrat.net
       
     .clear        
 
  .footer
   .fleft
    %img{src:'images/svg/footer_logo.svg'}
   .fright.imp
    %a{href:'imprint.html', class:'to_imp'} Imprint
   .clear

  
  
  
  
  
  
  
  
  
  
  %script{src:"js/min/anim-min.js"}  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  