!!! 5
%html
 %head
  %title Netopay Finance
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:"Netopay Finance"}
  %meta{name:"keywords", content:"Netopay Finance"}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  %link{rel:'icon', type:'image/png', href:'../favicon.png'} 
  
  %link{href:"css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"js/min/jquery-min.js"}
  %script{src:"js/min/head-min.js"}
  %script{src:"js/min/headjq-min.js"}
  %script{src:"js/min/slides-min.js"}
  %script{src:"js/min/form-min.js"}
  %script{src:"js/min/check-min.js"}

 
 %body
  %script{src:'../mail/mail-min.js'}
  .thk.off	Ваше сообщение отправлено. Спасибо!
  .popup.off
   
   .fig.big_hero-1.off 
    %img{src:'images/svg/01ru.svg', class:'imgs'}
   .fig.big_hero-2.off
    %img{src:'images/svg/02ru.svg', class:'imgs'}
     
   .fig.big_hero-3.off 333333 
   
   .x#close
    %img{src:'images/svg/cross.svg'}
   
    
    
  
  %header
   .logo
    %a{href:'/ru'}
     %img{src:"images/svg/logo.svg"}
   
   
   .langnav.unpub RU
   .mobnav MEНЮ
   
   .langs
    %ul
     %li
      %a{href:'/ua'} UA
     %li
      %a{href:'/ru'} RU
     
   

   
   
   .nav
    %ul
     %li
      %a{href:'#home'}  Главная
     %li
      %a{href:'#about'} О проекте
     %li
      %a{href:'#work'} Как работает
     %li
      %a{href:'#withus'} Сотрудничество
     %li
      %a{href:'#exp'} Опыт
     %li
      %a{href:'#contacts'} Контакты
  
  
  %section.start#home
   .overlay
    .hello
     %img{src:'images/svg/stru.svg'}
    .next 
    .scroll.animated.bounceMouse 
   
   
   
   .loops 
    #slides
     .slides-container
      %img{src:"images/bgs/01.jpg"}
      %img{src:"images/bgs/02.jpg"}
      %img{src:"images/bgs/03.jpg"}
      %img{src:"images/bgs/04.jpg"}
      %img{src:"images/bgs/05.jpg"}
    
    
       
   
  #about
   %section.section.about
    .marker#m1
    .inner
     .mobile-anim.mob_bg1
     .block-anim
      .elem.pin1.vhid
      .elem.pin2.vhid
      .elem.pin3.vhid
      .elem.pin4.vhid
      .elem.pin5.vhid
      .elem.pin6.vhid
      .elem
      .elem
     .half.about_left.vhid#t1
      %h1 О проекте
      %p Netopay Finance – это региональная финансовая экосистема, которая позволяет создать инновационный и успешный регион
      %p Netopay Finance обеспечивает возможность использования универсальных расчетных механизмов в электронном виде, внедрение которых способствует организации эффективного и прозрачного взаимодействия населения, бизнеса и региональных (муниципальных) органов власти
     .half.about_right
     .clear
    
    
   %section.section.pluses
    .marker#m2
    .inner
     .mobile-anim.mob_bg2
     .block-anim
      .elem.g1.vhid
      .elem.g2.vhid
      .elem.g3.vhid
      .elem.g4.vhid
      .elem.g5.vhid
     .half.pluses_left
     .half.pluses_right.vhid#t2
      %h1 Преимущества
      %ul
       %li Повышение состояния и уровня жизни населения
       %li Создание равных условий ведения бизнеса и снижение налоговой нагрузки
       %li Развитие бизнеса и создание новых рабочих мест
       %li Целевое и прозрачное использование бюджетных средств
       %li Улучшение инфраструктуры, уровня социального обеспечения и благосостояния региона
       %li Повышение инвестиционной привлекательности региона
       %li Детенизация экономики и защита от коррупции
     .clear
    
  #work
   %section.section.work
    .marker#m3
    .inner
     .mobile-anim.mob_bg3
     .block-anim
     .half.work_left.vhid#t3
      %h1 Как это работает
      %p Внедрение Netopay Finance ппредусматривает организацию взаиморасчетов в пределах региона между населением, бизнесом и органами власти с использованием эквивалентов ценностей в электронном виде
      %p Quant.Regio – эквиваленты ценностей, которые используются в качестве единиц взаиморасчетов в Netopay Finance
      .schemes
       .sch_btn{id:'sch1'} Схема А
       .sch_btn{id:'sch2'} Схема Б
     .half.work_right
      .elem.gear1.spin2
      .elem.gear2.spin
      .elem.gear3.spin
     .clear
    
    
    
   %section.quant
    .marker#m4
    .inner.center
     .quant-elems.quant-side
      %p.vhid#t5
       %span.q Quant.
       %span.qr Regio
       надежно защищены, их невозможно украсть, подделать или повредить. Использовать  
       %span.q Quant.
       %span.qr Regio 
       может исключительно их владелец
      %p.vhid#t6
       %span.q Quant.
       %span.qr Regio
       имеют свойства традиционных наличных средств и предоставляют возможность проведения взаиморасчетов
     .quant-elems.quant-center.pulsed
      %img{src:'images/svg/quant.svg'}
     .quant-elems.quant-side
      %p.vhid#t7
       %span.q Quant.
       %span.qr Regio
       защищены от инфляции и кризисов за счет полного обеспечения материальными или нематериальными активами
      %p.vhid#t8
       %span.q Quant.
       %span.qr Regio
       обеспечивает целевое использование бюджетных средств и усложняет возможности применения коррупционных схем
     .clear
     .quant_example_block
      %h2 ОПЛАТА ЧЕРЕЗ NETOPAY FINANCE
      .quant-step
       .step_icon
        %img{src:'images/svg/1_01.svg'}
       .step_anno Пользователь выбирает в качестве способа оплаты товара Netopay Finance
      .quant-step
       .step_icon
        %img{src:'images/svg/1_02.svg'}
       .step_anno На экране смартфона отображается штрих-код для сканирования
      .quant-step
       .step_icon
        %img{src:'images/svg/2_03.svg'}
       .step_anno Пользователь подтверждает платеж вводом PIN-кода в телефоне
      .quant-step
       .step_icon
        %img{src:'images/svg/2_04.svg'}
       .step_anno Кассир получает сообщение о поступлении средств и выдает товар
      
   %section.rules
    .marker#m5
    .inner.center
     %h1.center.vhid#t9 Правила для региона
     .anno-block.anno-block-mar.center.vhid#t10 В Netopay Finance реализован принцип дифференцированного распределения отчислений в бюджет региона, который исключает коррупцию и возможность нецелевого использования уплаченных налогов и сборов. Каждый регион самостоятельно устанавливает принципы распределения отчислений и условия возмещения средств налогоплательщикам в случае выполнения ими установленных в регионе правил. Например, если человек не курит и ведет здоровый образ жизни, ему автоматически возмещается сумма уплаченных отчислений, предусмотренной на развитие медицины в регионе
     .ex_btn.vhid#t11 Пример      
  
  
  
  
  
   %section.city
   %section.gutter 
  
  
  
  
  
  
  
  
  
  %section.withus#withus
   .marker#m6
   .inner.center
    %h1 Сотрудничество
    .anno-block.anno-block-mar.center На сегодня Netopay Finance является эффективным инструментом борьбы с кризисом и создания условий для развития отрасли, города или региона. N.KRAT Group приглашает к сотрудничеству:
    .withus-block
     .withus-1.vhid#t12
      .withus-icon
       %img{src:'images/svg/gov.svg'}
      .withus-anno Региональные и муниципальные органы власти
     .withus-1.vhid#t13
      .withus-icon
       %img{src:'images/svg/bus.svg'}
      .withus-anno Общественные и финансовые организации
     .withus-1.vhid#t14
      .withus-icon
       %img{src:'images/svg/people.svg'}
      .withus-anno Население регионов
      
  
  
  
  
  #exp
   %section.experience
    .marker#m8
    .inner.center
     %h1 Опыт
     .anno-block.anno-block-mar Аналогичные проекты в Германии
     .links_block
    
      .one_link 
       .link_name Regio Hessen
       %a{class:'go_link', target:'_blank', href:'http://der-regio.de'} der-regio.de
    
      .one_link 
       .link_name Hellwegtaler
       %a{class:'go_link', target:'_blank', href:'http://divib.de'} divib.de   
    
      .one_link 
       .link_name Erzregio Gutscheine
       %a{class:'go_link', target:'_blank', href:'http://erzregio.de'} erzregio.de  
    
      .one_link 
       .link_name ZschopauTaler
       %a{class:'go_link', target:'_blank', href:'http://zschopautaler.info'} zschopautaler.info
     
      .one_link 
       .link_name CARLO
       %a{class:'go_link', target:'_blank', href:'http://carlo-regional.de'} carlo-regional.de
 
      .one_link 
       .link_name Elbtaler
       %a{class:'go_link', target:'_blank', href:'http://elbtaler.de'} elbtaler.de
     
      .one_link 
       .link_name Regio Bayern
       %a{class:'go_link', target:'_blank', href:'http://der-regio.de'} der-regio.de
    
      .one_link 
       .link_name KannWas
       %a{class:'go_link', target:'_blank', href:'http://kannwas.org'} kannwas.org

      .one_link 
       .link_name Gwinner
       %a{class:'go_link', target:'_blank', href:'http://gwinner-ev.de'} gwinner-ev.de

      .one_link 
       .link_name Ammerlechtaler
       %a{class:'go_link', target:'_blank', href:'http://ammerlechtaler.de'} ammerlechtaler.de
       
      
      
      
      
      .one_link 
       .link_name Freitaler
       %a{class:'go_link', target:'_blank', href:'http://freitaler.com'} freitaler.com
       
      .one_link 
       .link_name Donautaler
       %a{class:'go_link', target:'_blank', href:'http://donau-taler.de'} donau-taler.de
       
      .one_link 
       .link_name Sterntaler
       %a{class:'go_link', target:'_blank', href:'http://regiostar.com'} regiostar.com
       
      .one_link 
       .link_name Hallertauer
       %a{class:'go_link', target:'_blank', href:'hallertauer-regional.de'} hallertauer-regional.de
       
      .one_link 
       .link_name Chiemgauer
       %a{class:'go_link', target:'_blank', href:'http://chiemgauer.info'} chiemgauer.info
       
      .one_link 
       .link_name Ampertaler
       %a{class:'go_link', target:'_blank', href:'http://amper-taler.de'} amper-taler.de
       
      
      
      
      .one_link 
       .link_name Bergtaler
       %a{class:'go_link', target:'_blank', href:'http://bergtaler.de'} bergtaler.de
       
      .one_link 
       .link_name BürgerBlüte
       %a{class:'go_link', target:'_blank', href:'http://buergerbluete.de'} buergerbluete.de
       
      .one_link 
       .link_name Eder-Taler
       %a{class:'go_link', target:'_blank', href:'http://eder-taler.de'} eder-taler.de
       
      .one_link 
       .link_name Hohenloher Franken
       %a{class:'go_link', target:'_blank', href:'http://hohenloher-franken.de'} hohenloher-franken.de
       
      .one_link 
       .link_name Lausitzer
       %a{class:'go_link', target:'_blank', href:'lausitzer.net'} lausitzer.net
       
      .one_link 
       .link_name Lindentaler
       %a{class:'go_link', target:'_blank', href:'http://lindentaler.org'} lindentaler.org
       
      .one_link 
       .link_name Lunar
       %a{class:'go_link', target:'_blank', href:'http://regio-lunar.org'} regio-lunar.org
       
      .one_link 
       .link_name Pauer
       %a{class:'go_link', target:'_blank', href:'http://pauer-aachen.de'} pauer-aachen.de
       
      .one_link 
       .link_name RegioMark RheinMosel
       %a{class:'go_link', target:'_blank', href:'http://regiovereinkoblenz.de'} regiovereinkoblenz.de 
 
      
      .one_link 
       .link_name Brot€inheit
       %a{class:'go_link', target:'_blank', href:'http://wiben.de'} wiben.de
      
      
      .one_link 
       .link_name RemsTaler
       %a{class:'go_link', target:'_blank', href:'http://tauschring-waiblingen.de'} tauschring-waiblingen.de
       
      .one_link 
       .link_name Rheingold
       %a{class:'go_link', target:'_blank', href:'http://rheingoldregio.de'} rheingoldregio.de 
       
      .one_link 
       .link_name Roland
       %a{class:'go_link', target:'_blank', href:'http://roland-regional.de'} roland-regional.de 
       
      .one_link 
       .link_name Steintaler
       %a{class:'go_link', target:'_blank', href:'http://steintaler.org'} steintaler.org 
       
      .one_link 
       .link_name Teutotaler
       %a{class:'go_link', target:'_blank', href:'http://teutotaler.de'} teutotaler.de 
       
      .one_link 
       .link_name UrstromTaler
       %a{class:'go_link', target:'_blank', href:'http://urstromtaler.de'} urstromtaler.de   
 
  
  
  
   %section.pdf
    .marker#m9
    .inner.center
     .pdf-block
      .pdf-1.mp
       .pdf-icon
        %img{src:'images/svg/eu.svg'}
       .pdf-anno Соответствует Директивам Евросоюза
      .pdf-1.mp
       .pdf-icon
        %img{src:'images/svg/ua.svg'}
       .pdf-anno Соответствует законодательству Украины
      .pdf-1.download
       .pdf-icon.pulsed
        %a{href:'../NetopayFinance_UА.pdf'} 
         %img{src:'images/svg/pdf.svg'}
       .pdf-anno Скачать презентацию  PDF (0.4MB)
       
  %section.contacts#contacts
   .marker#m10
   .inner
    %h1.center Контакты
    .contacts-block
     .contacts-left
      .myform
       %form{id:'myform', method:'post', action:''}
        %input{class:'field', type:'text', placeholder:'E-mail', id:'em', name:'em', onkeyup:'check();'}
        %input{class:'field', type:'text', placeholder:'Тема', id:'sb', name:'sb', onkeyup:'check();'}
        %textarea{class:'field tx', placeholder:'Текст сообщения', id:'feed', name:'feed'}
        %button{type:'submit', id:'send', class:'btn disable'} Отправить
     .contacts-right
      .contacts-details
       %p.hea N.KRAT Group GmbH
       %p.sep 44287 г. Дортмунд, Германия
       %p ул. Рингофенштрассе, 43
       %p.sep Факс: +49 231 444 781 01
       %p Тел: +49 231 444 781 00
       %p e-mail: de@nkrat.net
       
     .clear        
 
  .footer
   .fleft
    %img{src:'images/svg/footer_logo.svg'}
   .fright.imp
    %a{href:'imprint.html', class:'to_imp'} Imprint
   .clear

  
  
  
  
  
  
  
  
  
  
  %script{src:"js/min/anim-min.js"}  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  