
.about_left{width: 600px; background: yellow; }
.about_right{min-height: $height;}

.pin1{background-size: cover; background: url('../images/pin/pin.png') center center no-repeat; z-index:-1;}
.pin2{background-size: cover; background: url('../images/pin/shadow.png') center center no-repeat; z-index:-2;}
.pin3{background-size: cover; background: url('../images/pin/c1.png') center center no-repeat; z-index:-3;}
.pin4{background-size: cover; background: url('../images/pin/c2.png') center center no-repeat; z-index:-4;}
.pin5{background-size: cover; background: url('../images/pin/c3.png') center center no-repeat; z-index:-5;}
.pin6{background-size: cover; background: url('../images/pin/c4.png') center center no-repeat; z-index:-6;}