.quant-elems{display:inline-block; vertical-align: middle;}
.quant-side{width: 382px; text-align: left; background: red;}
.quant-center{width: 200px; background: gray; margin: 0 10px 0 20px;}

.quant_example_block{background: olive;}
.quant-step{width: 220px; background: aqua; display:inline-block; vertical-align: top; margin: 0 10px 0 10px;}

.step_icon{display: block; margin: 0 auto; width: 150px; height: 150px; background: red;}
.step_anno{background: yellow; width: 100%;}