.withus-block{}
.withus-1{display:inline-block; vertical-align: top; width: 200px; background: green; margin: 0 10px 0 10px;}
.withus-icon{width: 120px; height: 120px; background: red; display:block; margin: 0 auto;}
.withus-anno{width: 200px;}