.withus{background: #0262AD url('../images/beams.png') top left repeat-x; color:#fff; padding: 50px 0px;}
.withus-block{}
.withus-1{display:inline-block; vertical-align: top; width: 200px; margin: 0 10px 0 10px;}
.withus-icon{width: 90px; height: 90px; display:block; margin: 0 auto;}
.withus-anno{width: 200px;}