.pdf-block{}
.pdf-1{display:inline-block; vertical-align: top; width: 200px; background: green; margin: 0 10px 0 10px;}
.pdf-icon{width: 60px; height: 60px; background: red; display:block; margin: 0 auto;}
.pdf-anno{width: 200px;}