@media screen and (max-width: 767px) {
	
//.nav{display:none;}
// nav start
.show{display:block!important; visibility: hidden;}
.nav{display:none; width: 90%; margin-left: 5%; background: #fff; position: absolute;  margin-top: 70px;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	
	ul{ margin: 0!important; padding: 0!important;
		
		li{display: list-item; margin: 8px 0 8px 0;  text-transform: uppercase; text-align: center; list-style: none; border-bottom: 1px solid red;
			
			a{color:red;
	         -webkit-transition: all 0.1s ease-out;
             -moz-transition: all 0.1s ease-out;
             -o-transition: all 0.1s ease-out;
             transition: all 0.1s ease-out;
			}
		    a:hover{color:olive;}
		    .active{color:blue!important;}
			
		}
	}
	
}

.mobnav{display:block; float:right; margin-right: 5%;}

//nav end

.about_left{width:90%!important; margin: 0 auto; display:block;}	
.about_right{display:none;}	

.pluses_left{display:none;}
.pluses_right{width:90%!important; margin: 0 auto; display:block;}


.work_left{width:90%!important; margin: 0 auto; display:block;}	
.work_right{display:none;}	

.quant-side{width: 90%; text-align: left;}
.quant-center{width: 200px; height: 200px; margin: 0 10px 0 20px;}	
.quant_example_block{margin-top: 30px;}
.quant-step{width: 90%; background: aqua; display:block; vertical-align: top; margin: 0 auto 10px auto;}
.step_anno{background: yellow; width: 50%; margin: 0 auto;}


.anno-block{margin: 0 auto; width: 90%;}
.city{width: 100%; height: 210px;}
.gutter{width: 100%; height: 50px;}

.withus-1{display:inline-block; vertical-align: top; width: 30%; margin: 0 2px 0 2px;}
.withus-icon{width: 50%; height: auto;  display:block; margin: 0 auto;}
.withus-anno{width: 100%;}


.one_link{text-align: left; display:inline-block; vertical-align: top; width:45%;}

.pdf-1{display:inline-block; vertical-align: top; width: 25%;  margin: 0 2px 0 2px;}
.pdf-icon{width: 30%; height: auto;  display:block; margin: 0 auto;}
.pdf-anno{width: 100%;}
.download{display:none;}

.contacts-left{display:block; width: 100%; margin: 0 auto;}
.contacts-right{display:block!important; width: 100%; margin: 0 auto;}
.contacts-details{margin: 40px auto; text-align: center;}
.myform{width: 90%; display:inline-block;  margin: 0 auto!important;}
.field{width: 100%;}


.inner{width:100%!important;}
.block-anim{display:none;}
.mobile-anim{display:block!important; width: 100%; height: 200px; background:olive; position: relative;}
	
	


}	