@media screen and (max-width: 767px) {
	


.about_left{width:90%!important; margin: 0 auto; display:block;}	
.about_right{display:none;}	

.pluses_left{display:none;}
.pluses_right{width:90%!important; margin: 0 auto; display:block;}


.work_left{width:90%!important; margin: 0 auto; display:block;}	
.work_right{display:none;}	

.quant-side{width: 100%; text-align: left;}
.quant-center{width: 200px; height: 200px; margin: 0 10px 0 20px;}	
.quant_example_block{margin-top: 30px;}
.quant-step{width: 90%; background: aqua; display:block; vertical-align: top; margin: 0 auto 10px auto;}
.step_anno{background: yellow; width: 50%; margin: 0 auto;}

.anno-block{margin: 0 auto; width: 90%;}
.city{width: 100%; height: 100px;}
.gutter{width: 100%; height: 50px;}

.withus-1{display:inline-block; vertical-align: top; width: 30%; margin: 0 2px 0 2px;}
.withus-icon{width: 80%; height: auto;  display:block; margin: 0 auto;}
.withus-anno{width: 100%;}

.pdf-1{display:inline-block; vertical-align: top; width: 25%;  margin: 0 2px 0 2px;}
.pdf-icon{width: 60%; height: auto;  display:block; margin: 0 auto;}
.pdf-anno{width: 100%;}

.contacts-left{display:block; width: 100%; margin: 0 auto;}
.contacts-right{display:block!important; width: 100%; margin: 0 auto;}
.contacts-details{margin: 40px auto; text-align: center;}
.myform{width: 90%; display:inline-block;  margin: 0 auto!important;}
.field{width: 100%;}


.inner{width:100%!important;}
.block-anim{display:none;}
.mobile-anim{display:block!important; width: 100%; height: 200px; background:olive; position: relative;}
	
	


}	