$width:1000px;
$height:500px;
$sky:#229fff;


@import 'normalize';
@import 'navmenu';
@import 'anim';

body{font-family: 'Roboto', sans-serif;}
h1{font-weight: 100; font-size: 50px; margin-bottom: 0!important; margin-top: 0!important;}
h2{font-weight: 100; font-size: 30px; margin-bottom: 25px!important; margin-top: 0!important;}


.section{width:100%; border-bottom:1px solid #eee; min-height: $height;z-index:1;}
.half{display:inline-block; vertical-align: middle; position: relative; z-index: 10;}
.inner{width: $width; margin: 0 auto; position: relative; z-index:5;}
.block-anim{width: $width; height: $height; background: transparent; position: absolute; top:0; left:0; z-index:2;}
.mobile-anim{display:none;}

.center{text-align: center;}

.anno-block{margin: 0 auto; width: 760px;}
.anno-block-mar{margin-top: 15px;}


.city{width: 100%; height: 210px; background: $sky url('../images/city.png') center bottom no-repeat;}
.gutter{width: 100%; height: 100px; background: #3E8BCD;}

.elem{position: absolute; width: 100%; height: 100%; display:block;}


/*
==============================================
slideDown2
==============================================
*/


.slideDown2{
	animation-name: slideDown2;
	-webkit-animation-name: slideDown2;	

	animation-duration: 0.5s;	
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;		

	visibility: visible !important;	
}

@keyframes slideDown2 {
	0% {
		transform: translateY(-150%);
	}
				
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideDown2 {
	0% {
		-webkit-transform: translateY(-150%);
	}
				
	100% {
		-webkit-transform: translateY(0%);
	}
}


@import 'start_block';
@import '02-about';
@import '03-pluses';
@import '04-work';
@import '05-quant';
@import '06-rules';
@import '07-exp';
@import '08-with-us';
@import '09-pdf';
@import '10-contacts';
@import '11-footer';
@import 'media';
