$nav-border:#eee;

header{position: fixed; width: 100%; height: 70px; background: #fff; z-index: 100500; line-height: 70px; font-size: 14px; font-weight: 500; font-family: 'pbold', sans-serif;
	
}
.headroom--top {display:block; border-bottom: 1px solid $nav-border;}
.headroom--not-top {display:block; border-bottom: 1px solid $nav-border;}

.logo{float:left; margin-left: 5%;}



.show{display:block!important; visibility: hidden;}
.nav{ float:right; margin-right: 5%;
	
	ul{ margin: 0!important; padding: 0!important;
		
		li{display:inline; margin: 0 10px 0 10px;  text-transform: uppercase; 
			
			a{color:#787878; text-decoration: none;
	         -webkit-transition: all 0.1s ease-out;
             -moz-transition: all 0.1s ease-out;
             -o-transition: all 0.1s ease-out;
             transition: all 0.1s ease-out;
			}
		    a:hover{color:#333334;}
		    .active{color:#101110!important;}
			
		}
	}
	
}


.langnav{display:block; float:right; margin-right: 50px;  color:#354459; font-size: 14px; font-family: 'pblack'; cursor:pointer;}


.langs{display:none; right: 30px; background: #fff; position: absolute; min-width: 5px; margin-top: 70px;
	  font-size: 14px; border-radius: 0 0 4px 4px; border-left:1px solid $nav-border; border-right:1px solid $nav-border; border-bottom: 1px solid $nav-border;
	ul{ margin: 0!important; padding: 0!important;
		
		li{display: list-item; margin: 0px 0 0px 0;  text-transform: uppercase; text-align: center; list-style: none; border-top: 1px solid #eee; line-height: 15px; padding: 8px 20px;
			
			a{color:#787878; text-decoration: none;
	         -webkit-transition: all 0.1s ease-out;
             -moz-transition: all 0.1s ease-out;
             -o-transition: all 0.1s ease-out;
             transition: all 0.1s ease-out;
			}
		    a:hover{color:#333334;}
		    .active{color:#101110!important;}
			
		}
	}
}


.mobnav{display:none; float:right;  color:#232323; font-size: 14px; font-weight: 700; cursor:pointer;}





@media screen and (max-width: 767px) {
.nav{display:none; width: 90%; margin-left: 5%; background: #fff; position: absolute;  margin-top: 70px;
	border-radius: 0 0 4px 4px; border-left:1px solid $nav-border; border-right:1px solid $nav-border; border-bottom: 1px solid $nav-border;
	 //box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	
	ul{ margin: 0!important; padding: 0!important; 
		
		li{display: list-item; margin: 0px 0 0px 0;  text-transform: uppercase; text-align: center; list-style: none; border-top: 1px solid #eee; line-height: 15px; padding: 15px 0;
			
			a{color:#787878; text-decoration: none;
	         -webkit-transition: all 0.1s ease-out;
             -moz-transition: all 0.1s ease-out;
             -o-transition: all 0.1s ease-out;
             transition: all 0.1s ease-out;
			}
		    a:hover{color:#333334;}
		    .active{color:#101110!important;}
			
		}
	}
	
}

.mobnav{display:block; float:right; margin-right: 50px;}
}










/*
==============================================
slideDown2
==============================================
*/


.slideDown2{
	animation-name: slideDown2;
	-webkit-animation-name: slideDown2;	

	animation-duration: 0.5s;	
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;		

	visibility: visible !important;	
}

@keyframes slideDown2 {
	0% {
		transform: translateY(-150%);
	}
				
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideDown2 {
	0% {
		-webkit-transform: translateY(-150%);
	}
				
	100% {
		-webkit-transform: translateY(0%);
	}
}


/*
==============================================
slideUp2
==============================================
*/


.slideUp2{
	animation-name: slideUp2;
	-webkit-animation-name: slideUp2;	

	animation-duration: 0.5s;	
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;		

	visibility: visible !important;	
}

@keyframes slideUp2 {
	0% {
		transform: translateY(150%);
	}
				
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp2 {
	0% {
		-webkit-transform: translateY(150%);
	}
				
	100% {
		-webkit-transform: translateY(0%);
	}
}
