!!! 5
%html
 %head
  %title Finance 5 Haml
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  
  %link{href:"css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"js/min/jquery-min.js"}
  %script{src:"js/min/head-min.js"}
  %script{src:"js/min/headjq-min.js"}
 
 %body
  %header
   .logo logo
   .mobnav open nav
   .nav
    %ul
     %li
      %a{href:'#'}  Головна
     %li
      %a{href:'#'} Про проект
     %li
      %a{href:'#'} Як працює
     %li
      %a{href:'#'} Досвід
     %li
      %a{href:'#'} Співпраця
     %li
      %a{href:'#'} Контакт
  
  
  %section.start
   .overlay
    .hello hello
    .next next
    .scroll scroll
   .loops 
   
   
  %section.section.about
   .inner
    .mobile-anim mobile
    .block-anim
     .elem.pin1
     .elem.pin2
     .elem.pin3
     .elem.pin4
     .elem.pin5
     .elem.pin6
     .elem
     .elem
    .half.about_left
     %h1 Про проект
     %p Netopay Finance – це регіональна фінансова екосистема, яка дозволяє створити інноваційний та успішний регіон
     %p Netopay Finance забезбечує можливість використання універсильних розрахунокових механізмів в електронному вигляді, впровадження яких сприяє організації ефективної та прозорої взаємодії населення, бізнесу та регіональних (муніципальних) органів влади
    .half.about_right
    .clear
    
    
  %section.section.pluses
   .inner
    .mobile-anim mobile
    .block-anim
     .elem.g1
     .elem.g2
     .elem.g3
     .elem.g4
     .elem.g5
    .half.pluses_left
    .half.pluses_right
     %h1 Особливості
     %ul
      %li підвищення статків та рівня життя населення
      %li створення рівних умов ведення бізнесу та зниження податкового навантаження
      %li розвиток бізнесу та створення нових робочих місць
      %li цільове та прозоре використання бюджетних коштів
      %li покращення інфраструктури, рівня соціального забезпечення та достатку регіону
      %li підвищення інвестиційної привабливості регіону
      %li детінізація економіки та захист від корупції
    .clear
    
  
  %section.section.work
   .inner
    .mobile-anim mobile
    .block-anim
    .half.work_left
     %h1 Як це працює
     %p Впровадження Netopay Finance передбачає організацію взаєморозрахунків в межах регіону між населенням, бізнесом та органами влади з використанням еквівалентів цінностей в електроному вигляді
     %p Quant.Regio – еквіваленти цінностей, що викростовуються в якості одиниць взаєморозрахунків в Netopay Finance
    .half.work_right
     .elem.gear1.spin2
     .elem.gear2.spin
     .elem.gear3.spin
    .clear
    
    
    
  %section.quant
   .inner.center
    .quant-elems.quant-side
     %p 
      %span.q Quant.
      %span.qr Regio
      надійно захищені, їх неможливо вкрасти, підробити або пошкодити. Використати 
      %span.q Quant.
      %span.qr Regio 
      може виключно їх власник
     %p
      %span.q Quant.
      %span.qr Regio
      мають властивості традиційних готівкових коштів та надають можливість проведення взаєморозрахунків
    .quant-elems.quant-center.pulsed
     %img{src:'images/svg/quant.svg'}
    .quant-elems.quant-side
     %p
      %span.q Quant.
      %span.qr Regio
      захищені від інфляції та криз за рахунок повного забезпечення матеріальними або нематеріальними активами
     %p
      %span.q Quant.
      %span.qr Regio
      забезпечує цільове використання бюджетних коштів та ускладнює можливості застосування корупційних схем
    .clear
    .quant_example_block
     %h2 ОПЛАТА ЧЕРЕЗ NETOPAY FINANCE
     .quant-step
      .step_icon
       %img{src:'images/svg/human.svg'}
      .step_anno Користувач обирає в якості способу оплати товару Netopay Finance
     .quant-step
      .step_icon
       %img{src:'images/svg/human.svg'}
      .step_anno На екрані смартфону відображається штрих-код для сканування
     .quant-step
      .step_icon
       %img{src:'images/svg/human.svg'}
      .step_anno Користувач підтверджує платіж введенням PIN-коду в телефоні
     .quant-step
      .step_icon
       %img{src:'images/svg/human.svg'}
      .step_anno Касир отримує повідомлення про надходження коштів і віддає товар
      
  %section.rules
   .inner
    %h1.center Правила для регіону
    .anno-block.anno-block-mar.center В Netopay Finance реалізовано принцип диференційного розподілу відрахувань до бюджету регіону, що виключає корупцію та можливість нецільового використання сплачених податків та зборів. Кожен регіон самостійно встановлює принципи розподілу відрахувань та умови відшкодування коштів платникам податків у разі виконання ними встановленних в регіоні правил. Наприклад, якщо людина не палить та веде здоровий спосіб життя, їй автоматично відшкодовується сума сплачених відрахувань, що передбачена на розвиток медицини в регіоні      
  
  
  
  
  
  %section.city
  %section.gutter 
  
  
  
  
  
  
  
  
  
  %section.withus
   .inner.center
    %h1 Співпраця
    .anno-block.anno-block-mar.center На сьогодні Netopay Finance є ефективним інструментом боротьби з кризою та створення умов для розвитку галузі, міста або регіону. N.KRAT Group запрошує до співпраці:
    .withus-block
     .withus-1
      .withus-icon
       %img{src:'images/svg/human.svg'}
      .withus-anno Регіональні та муніципальні органи влади
     .withus-1
      .withus-icon
       %img{src:'images/svg/human.svg'}
      .withus-anno Громадські та фінансові організації
     .withus-1
      .withus-icon
       %img{src:'images/svg/human.svg'}
      .withus-anno Населення регiонiв
      
  
  
  
  
  
  %section.experience
   .inner.center
    %h1 Досвід
    .anno-block.anno-block-mar Аналогічні проекти в Німеччині
    .links_block
    
     .one_link 
      .link_name name
      %a{class:'go_link', target:'_blank', href:''} http:/dgsa adgshdg asdghg asdgas asgdhj
    
     .one_link 
      .link_name name
      %a{class:'go_link', target:'_blank', href:''} http:/dgsa adgshdg asdghg asdgas asgdhj   
    
     .one_link 
      .link_name name
      %a{class:'go_link', target:'_blank', href:''} http:/dgsa adgshdg asdghg asdgas asgdhj  
    
     .one_link 
      .link_name name
      %a{class:'go_link', target:'_blank', href:''} http:/dgsa adgshdg asdghg asdgas asgdhj
     
     .one_link 
      .link_name name
      %a{class:'go_link', target:'_blank', href:''} http:/dgsa adgshdg asdghg asdgas asgdhj
 
     .one_link 
      .link_name name
      %a{class:'go_link', target:'_blank', href:''} http:/dgsa adgshdg asdghg asdgas asgdhj
     
     .one_link 
      .link_name name
      %a{class:'go_link', target:'_blank', href:''} http:/dgsa adgshdg asdghg asdgas asgdhj
    
     .one_link 
      .link_name name
      %a{class:'go_link', target:'_blank', href:''} http:/dgsa adgshdg asdghg asdgas asgdhj

     .one_link 
      .link_name name
      %a{class:'go_link', target:'_blank', href:''} http:/dgsa adgshdg asdghg asdgas asgdhj

     .one_link 
      .link_name name
      %a{class:'go_link', target:'_blank', href:''} http:/dgsa adgshdg asdghg asdgas asgdhj
 
 
  
  
  
  %section.pdf
   .inner.center
    .pdf-block
     .pdf-1
      .pdf-icon
       %img{src:'images/svg/human.svg'}
      .pdf-anno Відповідає Директивам Євросоюзу
     .pdf-1
      .pdf-icon
       %img{src:'images/svg/human.svg'}
      .pdf-anno Відповідає законодавству України
     .pdf-1.download
      .pdf-icon
       %img{src:'images/svg/human.svg'}
      .pdf-anno Завантажити презентацію PDF (0.7MB)
       
  %section.contacts
   .inner
    %h1.center Контакти
    .contacts-block
     .contacts-left
      .myform
       %form 
        %input{class:'field', type:'text', placeholder:'placeholder'}
        %input{class:'field', type:'text', placeholder:'placeholder'}
        %textarea{class:'field tx', placeholder:'placeholder'}
        %button{type:'submit', class:'btn'} Відправити
     .contacts-right
      .contacts-details
       %p.hea N.KRAT Group GmbH
       %p.sep 44287 м. Дортмунд, Німеччина
       %p вул. Рінгофенштрассе, 43
       %p.sep Факс: +49 231 444 781 01
       %p Тел: +49 231 444 781 00
       %p e-mail: de@nkrat.net
       
     .clear        
 
  .footer
   .fleft logo
   .fright imprint
   .clear

  
  
  
  
  
  
  
  
  
  
  %script{src:"js/min/anim-min.js"}  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  