!!! 5
%html
 %head
  %title Finance 5 Haml
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  
  %link{href:"css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
  %script{src:"js/min/head-min.js"}
  %script{src:"js/min/headjq-min.js"}
 
 %body
  %header
   .nav
    %ul
     %li
      %a{href:'dgasjhdgf'} link1
     %li
      %a{href:'dgasjhdgf'} link1
     %li
      %a{href:'dgasjhdgf'} link1
  
  
  %section.start
   .overlay
    .hello hello
    .next next
    .scroll scroll
   .loops 
   
   
  %section.section.about
   .inner
    .mobile-anim mobile
    .block-anim
     .elem
     .elem
     .elem
    .half.about_left left
    .half.about_right right
    .clear
    
    
  %section.section.pluses
   .inner
    .mobile-anim mobile
    .block-anim
     .elem
     .elem
     .elem
    .half.pluses_left left
    .half.pluses_right right
    .clear
    
  
  %section.section.work
   .inner
    .mobile-anim mobile
    .block-anim
     .elem
     .elem
     .elem
    .half.work_left left
    .half.work_right right
    .clear
    
    
    
  %section.section.quant
   .inner.center
    .quant-elems.quant-side side
    .quant-elems.quant-center center
    .quant-elems.quant-side side
    .clear
    .quant_example_block
     .quant-step
      .step_icon icon
      .step_anno anno
     .quant-step
      .step_icon icon
      .step_anno anno
     .quant-step
      .step_icon icon
      .step_anno anno
     .quant-step
      .step_icon icon
      .step_anno anno
      
  %section.section.rules
   .inner
    .anno-block fgdshjfg sdhgfhs sdhgfhdjsgfsd sdhgfhdsgf sdgfhjsdgf      
  
  
  
  
  
  %section.city
  %section.gutter 
  
  
  
  
  
  
  
  
  
  %section.withus-
   .inner.center
    .withus-block
     .withus-1
      .withus-icon icon
      .withus-anno anno
     .withus-1
      .withus-icon icon
      .withus-anno anno
     .withus-1
      .withus-icon icon
      .withus-anno anno
      
      
   %section.pdf
    .inner.center
     .pdf-block
      .pdf-1
       .pdf-icon icon
       .pdf-anno anno
      .pdf-1
       .pdf-icon icon
       .pdf-anno anno
      .pdf-1
       .pdf-icon icon
       .pdf-anno anno
       
   %section.contatcs
    .inner
     %h1.center Contacts
     .contacts-block
      .contacts-left
       .myform
        %form 
         %input{class:'field', type:'text', placeholder:'placeholder'}
         %input{class:'field', type:'text', placeholder:'placeholder'}
         %textarea{class:'field tx', placeholder:'placeholder'}
         %button{type:'submit', class:'btn'} Submit
      .contacts-right
       .contacts-details sdghasgdsahdgg asdgas
      .clear        
 
   .footer
    .fleft logo
    .fright imprint
    .clear

  
  
  
  
  
  
  
  
  
  
  %script{src:"js/min/anim-min.js"}  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  