!!! 5
%html
 %head
  %title NKRAT HAML IMPRINT
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  %link{rel:'icon', type:'image/png', href:'images/favicon.png'} 
  
  %link{href:"css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  
  %script{src:"js/min/jquery-min.js"}
  %script{src:"js/min/easing-min.js"}
  %script{src:"js/min/scroll-min.js"}
  %script{src:"js/min/head-min.js"}
  %script{src:"js/min/headjq-min.js"}
  %script{src:"js/min/slides-min.js"}
  %script{src:"js/min/form-min.js"}
  %script{src:"js/min/check-min.js"}
  %script{src:"js/min/vivus-min.js"}
  
  
  
  %script{src:"js/min/cookie-min.js"}
  %script{src:"js/min/lang-min.js"}
  %script{src:"js/min/langpack-min.js"}
  %script var lang = new Lang('en'); 
    
 
 %body 
    
  %header
   .logo
    %a{href:'/'}
     %img{src:"images/svg/top_logo.svg"}
   .langnav{:lang=>"en"} EN
   .mobnav{:lang=>"en"} MENU
   
   .langs
    %ul
     %li
      %a{href:'#', :onclick=>"window.lang.change('en'); return false;"} EN
     %li
      %a{href:'#', :onclick=>"window.lang.change('ru'); return false;"} RU 
   
   .nav
    %ul
     %li
      %a{href:'#', :lang=>'en'}  home page
     
     
    
  %section.impr
   %h1{:lang=>"en"} Imprint
   .info
    %h3{:lang=>"en"} Захист даних
    %p{:lang=>"en"} Як правило, використання нашого сайту може проводитися без наведення користувачами своїх персональних даних. Але у випадку, виникнення необхідності, в рамках використання нашого ресурсу, наведення персональних даних, ми зобов'язуємось не розголошувати персональні дані третім особам без вашої попередньої згоди.
      
    %p{:lang=>"en"} Ми зобов’язуємося збирати персональні дані виключно в обсязі необхідному для визначених цілей та не використовувати в інших цілях без вашої згоди.
      
     
    %p{:lang=>"en"} Ми знімаємо з себе відповідальність за втрату персональних даних, що виникла в наслідок витоку інформації при пересиланні електронних повідомлень або в наслідок інших способів комунікації.
      
    %h3{:lang=>"en"} Google Analytics
    %p{:lang=>"en"} Дана сторінка використовує Google Analytics. Google Analytics використовує так звані "Cookies" - текстові файли, які зберігаються на вашому комп’ютері і дозволяють проводити аналіз відвідуваності ресурсу. Інформація, отримана за допомогою Cookie , зберігається на сервері сервісу Google в США. Google буде використовувати цю інформацію для аналізу використання вами нашої сторінки. Google може в рамках свого сервісу передавати аналітичні дані третім особам.
    
    
    %h3{:lang=>"en"} Зміст
    %p{:lang=>"en"} Не зважаючи не те, що інформація на нашому сайті проходить ретельний підбір, компанія не несе відповідальність за повноту, правильність та актуальність інформації, що наведена на сайті.
    %p{:lang=>"en"} Також компанія не несе відповідальність за оформлення та зміст інтернет-ресурсів, посилання на які розташовані на нашому сайті або за інформацію, розміщену або збережену на нашому ресурсі третіми особами.
    %p{:lang=>"en"} Це виключення відповідальності є частиною інтернет - презентації компанії N.KRAT Group GmbH. У випадку, не відповідності або відповідності не повною мірою окремих формулювань правовим положенням, інші частини цієї заяви залишаються в силі. 
   
   
    
  
  .footer
   .fleft
    %img{src:'images/svg/bottom_logo.svg'}
   .fright.imp
    %a{href:'imprint.html', class:'to_imp'} Imprint
   .clear
  
    
  %script{src:"js/min/anim-min.js"}
  %script{src:"js/min/copy-min.js"}
   
      