!!! 5
%html
 %head
  %title New Project
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  %link{rel:'icon', type:'image/png', href:'images/favicon.png'} 
  
  %link{href:"css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"js/min/jquery-min.js"}
  
 
 %body
  .content 
   .timeline
    .one_event
     .date.dv.right 12–12–2012
     .spot.dv spot
     .details.dv
      .details-inner 
       %p Lorem ipsum dolor sit amet, mei ex quidam audire concludaturque. Propriae cotidieque ea eos, iriure sensibus persecuti eum at. An vel augue liberavisse, doming diceret detraxit eos in. Nominavi invenire pro ex. Per mucius delicata consequuntur ea, affert phaedrum et eos. Repudiare constituam ex eum, etiam feugait no usu. Et option feugiat aliquando mei. Et eos graeco menandri reprimique, dolores voluptatibus interpretaris no nam. Duo vero quaerendum at, eu nam option aliquip delectus. Ne meis falli vix, eum erat zril propriae cu.
       .arrow.arright
      
      
    .one_event
     .details.dv
      .details-inner 
       %p Lorem ipsum dolor sit amet, mei ex quidam audire concludaturque. Propriae cotidieque ea eos, iriure sensibus persecuti eum at. An vel augue liberavisse, doming diceret detraxit eos in. Nominavi invenire pro ex. Per mucius delicata consequuntur ea, affert phaedrum et eos.
       .arrow.arleft    
     .spot.dv spot
     .date.dv.left 12–12–2012
      