@media screen and (max-width: 767px) {
	
	
.inleft{width: 90%!important; display:block!important; background: blue!important; height: auto; min-height: 200px; margin: 0 auto;}
.inright{width: 90%!important; display: block!important;  background: aqua; height: auto; min-height: 200px; margin: 0 auto;}
	
	
	}