!!! 5
%html
 %head
  %title COMPASS HAML
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  %link{href:"css/screen.css", rel:"stylesheet", type:"text/css", media:"screen, projection"}
 %body
  .hello Hello 