$width:1000px;
$s-min-height:500px;

$props:#fff;
$selborder:Red;
$pressed:#838587;

$btcolor:#229fff;
$bhover:#0262AD;
$sky:#229fff;

$light:#eee;


@import 'normalize';
@import 'anim';
@import 'as';
@import 'tables';
@import 'navmenu';
@import 'contacts';
@import 'footer';


body{color:#333; font-family: 'Roboto';}


h1{font-weight: 100!important; text-transform: uppercase; font-size: 45px; }
.center{text-align: center;}

.start{position: relative; width: 100%; height: 100%; background: #ccc;}
.overlay{position: absolute; z-index: 10; background: rgba(0,0,0,0.0); width: 100%; height: 100%;}
.loops{position: absolute; z-index: 5; background: url('../images/pu.jpg') center center no-repeat; background-size: cover; width: 100%; height: 100%;}
.next{position: absolute; width:70px; height: 70px; bottom:7%; left:50%; margin-left:-35px; background: url('../images/svg/mouse.svg'); display:block;}
.scroll{position: absolute; width:70px; height: 70px; bottom:7%; left:50%; margin-left:-35px; display:block; background: url('../images/svg/d.svg');}
.hello{position: absolute; width:40%; display:block; height: auto; left:50%; margin-left: -20%; top:20%;}

.section{min-height: $s-min-height;}
.grid{background: url('../images/grid.pngx'); border-bottom: 1px solid #eee; min-height: 700px;}

.inner{width: $width; margin: 0 auto;}


.advantages{padding: 80px 0 140px 0; background: $sky; color:#fff;}
.advantages_block{text-align: center; margin-top: 80px;}
.advantage{display:inline-block; display:inline-block; vertical-align: top; width: 455px; text-align: left; margin-bottom: 60px; margin-left: 20px;}
.adv_icon{height: 70px; width:70px; margin-right: 20px;  display:inline-block; vertical-align: middle; }
.adv_anno{display:inline-block; vertical-align: middle;  width: 350px; font-size: 16px; font-weight: 400; line-height: 20px;}

.i1{background: url('../images/svg/icon_1.svg') center center no-repeat; background-size: cover;}
.i2{background: url('../images/svg/icon_2.svg') center center no-repeat; background-size: cover;}
.i3{background: url('../images/svg/icon_3.svg') center center no-repeat; background-size: cover;}
.i4{background: url('../images/svg/icon_4.svg') center center no-repeat; background-size: cover;}

.propositions{padding: 60px 0;}
.prop_container{position: relative; width: 100%; min-height: 400px; background: transparent; text-align: center; margin-top: 80px;}
.prop_selector{text-align: center; font-size: 0;}

.props{display:inline-block; vertical-align: top; padding: 15px 50px; font-size: 18px; text-transform: uppercase; font-weight: 300; color:$pressed;
	background: $props; cursor: pointer;
}
.prop_sel1{border-top:1px solid $pressed; border-left:1px solid $pressed; border-bottom: 1px solid $pressed; border-radius: 4px 0 0 4px; }
.prop_sel2{border:1px solid $pressed; border-radius: 0 4px 4px 0;}



.pressed{border-color:$pressed; background: $pressed; color:#fff;}


.prop{position: relative; width: 100%; height: 100%;} 
.prop_left{display:inline-block; vertical-align: top;  width: 430px; text-align: left; position: relative;}
.prop_right{display: inline-block; vertical-align: top;  width: 500px; margin-left: 50px; text-align: left; position: relative;}
.prop_right ul{margin: 0!important; padding: 0!important; 
	li{
		margin-bottom: 5px; list-style-type: square; font-weight: 400; font-size: 17px; color:#333;
	}
}

.and{margin-top: 30px; font-size: 20px; margin-bottom: 10px; font-weight: 700; color:#8D9093;}
ul.add_list{
	li{
		list-style-type: none; font-size: 15px; color:#8D9093; font-weight: 400; line-height: 16px;
	}
}



.prop_desc{font-size: 13px; margin-top: 30px; color:#666;}
.prop_anim{position: relative;}
.imr{width: 100%; height: auto;}


.prop_elem{position: absolute; width: 100%; height: 100%; display:block; top:0; left:0;}
.g1{background: url('../images/svg/g_anim/grid.svg') center center no-repeat; background-size: cover;}
.g2{background: url('../images/svg/g_anim/01.svg') center center no-repeat; background-size: cover;}
.g3{background: url('../images/svg/g_anim/02.svg') center center no-repeat; background-size: cover;}
.g4{background: url('../images/svg/g_anim/03.svg') center center no-repeat; background-size: cover;}
.g5{background: url('../images/svg/g_anim/04.svg') center center no-repeat; background-size: cover;}

.m1{background: url('../images/svg/m_anim/01.svg') top center no-repeat; background-size: cover;}
.m2{background: url('../images/svg/m_anim/02.svg') top center no-repeat; background-size: cover;}
.m3{background: url('../images/svg/m_anim/03.svg') top center no-repeat; background-size: cover; }
.m4{background: url('../images/svg/m_anim/04.svg') top center no-repeat; background-size: cover; z-index: 10;}
.m5{background: url('../images/svg/m_anim/05.svg') top center no-repeat; background-size: cover;}
.m6{background: url('../images/svg/m_anim/06.svg') top center no-repeat; background-size: cover;}
.m7{background: url('../images/svg/m_anim/07.svg') top center no-repeat; background-size: cover; z-index:7;}
.m8{background: url('../images/svg/m_anim/08.svg') top center no-repeat; background-size: cover; z-index:8;}
.m9{background: url('../images/svg/m_anim/09.svg') top center no-repeat; background-size: cover; z-index:9;}
.m10{background: url('../images/svg/m_anim/10.svg') top center no-repeat; background-size: cover; z-index:10;}
.m11{background: url('../images/svg/m_anim/11.svg') top center no-repeat; background-size: cover; z-index:11;}
.m12{background: url('../images/svg/m_anim/12.svg') top center no-repeat; background-size: cover; z-index:12;}
.m13{background: url('../images/svg/m_anim/13.svg') top center no-repeat; background-size: cover; z-index:13;}
.m14{background: url('../images/svg/m_anim/14.svg') top center no-repeat; background-size: cover; z-index:0;}


.prop_enter{display: inline-block; width: 90%;  padding: 80px 0;}


.laws{padding: 50px 0 140px 0; background: $light;}

.disable{background: rgba(0,0,0, 0.1)!important; color:rgba(255,255,255, 0.7)!important; border-color:rgba(0,0,0, 0.0)!important;}
.disable:hover{background: rgba(0,0,0, 0.1)!important; color:rgba(255,255,255, 0.7)!important; border-color:rgba(0,0,0, 0.0)!important;}

.thk{position: fixed; width: 30%; padding: 50px; left:50%; margin-left: -15%; background: #2a7df5; z-index: 300500;text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); font-size: 16px; font-weight: 400; visibility: hidden; color:#fff;
}

.btn{display:inline-block; border:1px solid $btcolor;  font-weight: 500; border-radius: 4px; background: $btcolor; padding: 16px 30px; color:#fff; font-size: 18px;
	-webkit-transition: all 0.1s ease-out;
             -moz-transition: all 0.2s ease-out;
             -o-transition: all 0.2s ease-out;
             transition: all 0.2s ease-out;
}

.btn:hover{background:$bhover; border-color:$bhover;}


.b_link{
	display:inline-block; border:1px solid $btcolor;  font-weight: 500; border-radius: 4px; background: $btcolor; padding: 16px 30px; color:#fff; font-size: 18px;
	-webkit-transition: all 0.1s ease-out;
             -moz-transition: all 0.2s ease-out;
             -o-transition: all 0.2s ease-out;
             transition: all 0.2s ease-out; text-decoration: none;

}
.b_link:hover{background:$bhover; border-color:$bhover;}


@import 'media';