!!! 5
%html
 %head
  %title digital HAML
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  %link{rel:'icon', type:'image/png', href:'images/favicon.png'} 
  
  %link{href:"css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"js/min/jquery-min.js"}
  %script{src:"js/min/easing-min.js"}
  %script{src:"js/min/scroll-min.js"}
  %script{src:"js/min/head-min.js"}
  %script{src:"js/min/headjq-min.js"}
  %script{src:"js/min/slides-min.js"}
  %script{src:"js/min/form-min.js"}
  %script{src:"js/min/check-min.js"}
  
 
 %body
  
  
  %header
   .logo
    %a{href:'/'}
     %img{src:"images/svg/logo.svg"}
   .langnav EN
   .mobnav MENU
   
   .langs
    %ul
     %li
      %a{href:'#'} UA
     %li
      %a{href:'#'} EN
     %li
      %a{href:'#'} DE
   
   .nav
    %ul
     %li
      %a{href:'#'}  link1
     %li
      %a{href:'#'}  link1
     %li
      %a{href:'#'}  link1
     %li
      %a{href:'#'}  link1
     %li
      %a{href:'#'}  link1
     
  %section.start
   .overlay
    .hello
     %img{src:'images/svg/st.svg'}
    .next 
    .scroll.animated.bounceMouse 
   .loops 
   
   
    #slides
     .slides-container
      %img{src:""}
      %img{src:""}
      
  
  
  
  
  
  
  
  
  
  %section.about
   %h1 ПРО СЕРВІС
   .inner
    .about_text 
     %p Netopay Digital –  це сервіс, який забезпечує можливість оплати цифрових товарів і послуг споживачами через термінали самообслуговування (Cash-In), каси підприємств роздрібної торгівлі та АЗС (POS), відділення обміну валют та Інтернет
     %p.add Під цифровими товарами і послугами маються на увазі будь-які продукти, що поставляються в електронному вигляді, такі як, наприклад, ігрові гроші, програмне забезпечення, відео- та аудіоконтент, книги і багато іншого
   
  
  
  
  
  
  
  
  
  
  
  
  
  
  %section.time
   %h1 Переваги netopay digital
   .inner
    .timeline-all
     
     .timeline-partical.p1{:"data-parallax" => '{"y": -550, "from-scroll": 0, "distance": 1000, "smoothness": 10}'}
     .timeline-partical.p2{:"data-parallax" => '{"y": -1150, "from-scroll": 0, "distance": 1000, "smoothness": 40}'}
     .timeline-partical.p3{:"data-parallax" => '{"y": -1850, "from-scroll": 0, "distance": 1000, "smoothness": 40}'}
     .timeline-partical.p4{:"data-parallax" => '{"y": -1150, "from-scroll": 100, "distance": 1000, "smoothness": 40}'}
     .timeline-partical.p5
     .timeline-partical.p6
     .timeline-partical.p7
     .timeline-partical.p8
     .timeline-partical.p9
     .timeline-partical.p10
     .timeline-partical.p11
     .timeline-partical.p12
     .timeline-partical.p13
     .timeline-partical.p14
     .timeline-partical.p15
     .timeline-partical.p16
     .timeline-partical.p17
     .timeline-partical.p18
     .timeline-partical.p19
     .timeline-partical.p20
     .timeline-partical.p21
     .timeline-partical.p22
     .timeline-partical.p23
     .timeline-partical.p24
     .timeline-partical.p25
     .timeline-partical.p26
     
     .timeline-axis
      .axis-center
     
     .timeline-block
      .timeline-content
       .timeline-content-side.fl.tr.nums{:"data-parallax" => '{"y": -550,  "distance": 12000, "smoothness": 10}'} 1
       .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 0, "distance": 400, "smoothness": 10, "duration":10}'}
       .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -20, "from-scroll": 0, "distance": 800, "smoothness": 10, "duration":100}'}
        %p Забезпечення гарантій компаніям-виробникам в отриманні коштів, отриманих в результаті реалізації цифрових товарів і послуг кінцевим споживачам 
       
     .timeline-block
      .timeline-content
       .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 20, "from-scroll": 300, "distance": 800, "smoothness": 10, "duration":100}'}
        %p Здійснення розрахунків з компаніями-нерезидентами у валюті відповідно до чинного законодавства
       .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 300, "distance": 400, "smoothness": 10, "duration":10}'}
       .timeline-content-side.fr.tl.nums 2  
       
       
     .timeline-block
      .timeline-content
       .timeline-content-side.fl.tr.nums 3
       .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 600, "distance": 400, "smoothness": 10, "duration":10}'}
       .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -20, "from-scroll": 600, "distance": 800, "smoothness": 10, "duration":100}'}
        %p Оптимізація витрат, пов'язаних з імпортом товарів і послуг, і зменшення податкових витрат 
       
     .timeline-block
      .timeline-content
       .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 20, "from-scroll": 900, "distance": 800, "smoothness": 10, "duration":100}'}
        %p Забезпечення можливості універсального ціноутворення на товари і послуги в режимі реального часу і мінімізація валютних ризиків купівлі/продажу валюти на регіональних ринках для компаній-виробників
       .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 900, "distance": 400, "smoothness": 10, "duration":10}'}
       .timeline-content-side.fr.tl.nums 4 
       
     .timeline-block
      .timeline-content
       .timeline-content-side.fl.tr.nums 5
       .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 1200, "distance": 400, "smoothness": 10, "duration":10}'}
       .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -20, "from-scroll": 1200, "distance": 800, "smoothness": 10, "duration":100}'}
        %p Забезпечення інформаційної та фінансової безпеки всіх учасників бізнес-процесів імпорту та продажу цифрових товарів/послуг кінцевим споживачам 
       
     .timeline-block
      .timeline-content
       .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 20, "from-scroll": 1500, "distance": 800, "smoothness": 10, "duration":100}'}
        %p Встановлення юридично-значимих взаємин між учасниками сервісу при здійсненні ними купівлі/продажу цифрових товарів/послуг та фіксація фінансової відповідальності учасників
       .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 1500, "distance": 400, "smoothness": 10, "duration":10}'}
       .timeline-content-side.fr.tl.nums 6            
    
    
    
    
          
  
  
  %section.scheme
   %h1 Як це працює
   .inner
    %img{src:'images/svg/scheme.svg'}
    
  
  
  
  
  
  
  
  
  
  
  %section.digits
   %h1 варто знати
   .for_parallax{:"data-parallax" => '{"x": 3000, "distance": 20000, "smoothness": 10}'}
   .for_parallax2{:"data-parallax" => '{"x": -5000, "distance": 18000, "smoothness": 30}'}
   .for_parallax3{:"data-parallax" => '{"x": -3000, "distance": 18000, "smoothness": 20}'}
   .inner 
    .digitals
     #plate_1.one_digital Під цифровим товаром в термінах системи Netopay Digital мається на увазі спеціальний код в електронному вигляді — Quant
     #plate_2.one_digital Кожен Quant являє собою неповторний набір даних, який в результаті взаємодії з товаром або послугою виробника призводить окремі її частини в дію
     #plate_3.one_digital З юридичної точки зору, Quant — це юридично значима вимога пред'явника до компанії-виробника на отримання товару або послуги у заздалегідь визначеному обсязi
     #plate_4.one_digital З точки зору регулюючих і контролюючих органів України, Quant - це код доступу до програмних комплексів і систем компаній-виробників, його імпорт і розповсюдження на території України дозволено і регулюється законами, нормативно-правовими актами та правилами
     #plate_5.one_digital З технічної точки зору, Quant - це зашифрований документ в електронному вигляді, який містить всю інформацію про виробника, товар (або послугу), його вартості, умов поставки та застосування, а також іншу необхідну для проведення угоди інформацію
     #plate_6.one_digital З фінансової точки зору, Quant являє собою унікальний обліковий інструмент цінностей в електронному вигляді, а транзакції з його використанням миттеві та безвідкличні. Усі транзакції проводяться з використанням сервісу Netopay Digital
     
  %section.laws
   .inner
    %h1 Законодавство
    .laws_list
     %ul
      %li Діяльність сервісу повністю відповідає регіональним і міжнародним законодавчим нормам і правилам фінансових ринків в різних географічних регіонах
      %li  У договорах, укладених між учасниками сервісу, враховуються законодавчі норми та вимоги щодо протидії фінансуванню тероризму та відмивання грошей (FATF)
      %li Всі учасники системи підлягають перевірці відповідно до нормативів KYC з метою протидії відмиванню грошей
      %li Всі користувачі сервісу підписують угоди/підтверджують згоду з «Anti-Money Laundering Agreement» та «Anti-Financial Fraud Compliance»
      %li Всі договори відповідають вимогам OLAF
     
	   
     
	  
  
  
  
  
  
  
  
  
  
  
  
  %section.contacts
   .inner
    %h1.center Контакти
    .contacts-block
     .contacts-left
      .myform
       %form{id:'cform', method:'post', action:'notify.php'}
        %input{class:'field', type:'text', placeholder:'E-mail', id:'em', name:'em', onkeyup:'check();'}
        %input{class:'field', type:'text', placeholder:'Тема', id:'sb', name:'sb', onkeyup:'check();'}
        %textarea{class:'field tx', placeholder:'Текст повідомлення', id:'feed', name:'feed'}
        %button{type:'submit', id:'send', class:'btn disable'} Відправити
     .contacts-right
      .contacts-details
       %p.hea N.KRAT Group GmbH
       %p.sep 44287 м. Дортмунд, Німеччина
       %p ул. Рінгофенштрассе, 43
       %p.sep Телефон: +49 231 444 781 00
       %p Факс: +49 231 444 781 01
       %p e-mail: de@nkrat.net       
      .contacts-details.add-details
       %p.hea Представництво в Україні
       %p.sep вул. Новокостянтинівська, 13/10
       %p 04080 м. Київ, Україна
       %p.sep Телефон: +380 44 205 56 77
       %p Факс: +380 44 205 56 78
       %p e-mail: ua@nkrat.net 
     .clear   
  
  .footer
   .fleft
    %img{src:'images/svg/footer_logo.svg'}
   .fright.imp
    %a{href:'imprint.html', class:'to_imp'} Imprint
   .clear
  
    
  %script{src:"js/min/anim-min.js"}    
      