!!! 5
%html
 %head
  %title Fiscal Settlement System
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:"Fiscal Settlement System"}
  %meta{name:"keywords", content:"Fiscal Settlement System"}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  %link{rel:'icon', type:'image/png', href:'images/favicon.png'} 
  
  %link{href:"css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"js/min/jquery-min.js"}
  %script{src:"js/min/head-min.js"}
  %script{src:"js/min/headjq-min.js"}
  %script{src:"js/min/slides-min.js"}
  %script{src:"js/min/form-min.js"}
  %script{src:"js/min/check-min.js"}
  %script{src:"js/min/beams-min.js"}
 
 %body
  %script{src:'js/min/mail-min.js'}
  .thk.off	Your message was sent. Thank You!
  
  
 


  
  %header
   .logo.desktop
    %a{href:'/en/'}
     %img{src:"images/svg/logo.svg"}
   .logo.mobile
    %a{href:'/en/'}
     %img{src:"images/svg/mob-logo.svg"}  
   .langnav EN
   .mobnav MENU
   
   .langs
    %ul
     %li
      %a{href:'/ua/'} UA
     %li
      %a{href:'/en/'} EN
     %li
      %a{href:'/ru/'} RU
   
   .nav
    %ul
     %li
      %a{href:'#what'}  About FSS
     %li
      %a{href:'#mission'}  Mission
     %li
      %a{href:'#work'}  How it works
     %li
      %a{href:'#plus'}  ADVANTAGES
     %li
      %a{href:'#connect'}  CONNECTION  
     %li
      %a{href:'#law'}  LEGISLATION 
     %li
      %a{href:'#contact'}  COntact
     
  %section.start
   .overlay
    .hello
     %img{src:'images/svg/hello.svg'}
    .next 
    .scroll.animated.bounceMouse
    .partners
     %img{src:'images/svg/partners.svg'} 
   
   .spiders
    %canvas#spiders{width:'1920', height:'720'}
   
   .loops
    #slides
     .slides-container
      %img{src:""}
      %img{src:""}
      
    
    
      
  %section.section.what#what
   .inner
    %h1.center What is the FSS?
    .big_text Fiscal settlement system is an automated system for accounting the cash transactions, which is implemented as a cloud solution and available to participants via a secure Internet communication channels    
    
  %section.section.mission#mission
   .inner
    %h1.center FSS MISSION
    .mission_block
     
     .one_mission
      .mission_icon.pulsedx
       %img{src:'images/svg/goverment.svg'}
      .mission_anno Deshadowing of economy of the state
      
     .one_mission
      .mission_icon.pulsedx
       %img{src:'images/svg/business.svg'}
      .mission_anno The increase of investment attractiveness of business
      
     .one_mission
      .mission_icon.pulsedx
       %img{src:'images/svg/people.svg'}
      .mission_anno Raising the standard of living of the population
      
       
    
  %section.section.work#work
   .inner
    %h1.center How it works
    .work_block
     .scheme
      .absolute_scheme
       %img{src:'images/test/sch2-en.svg'}
     .side
      %h2 The advantages of a Fiscal Settlement System for users
      .side_row
       .side_icon
        %img{src:'images/svg/online.svg'}
       .side_anno The association and the work of all participants in a single informational space in real-time
      .side_row
       .side_icon
        %img{src:'images/svg/check.svg'}
       .side_anno The issuance of a fiscal receipt in electronic form and on paper 
      
      .side_row
       .side_icon
        %img{src:'images/svg/connect.svg'}
       .side_anno БA safe trusting environment for the transmission of fiscal data 
       
      .side_row
       .side_icon
        %img{src:'images/svg/keep.svg'}
       .side_anno Recording and storing the fiscal data  
    .methods_block
     %table.m
      %tr
       %td.heads Outdated methods<br>with the use of a variety of devices
       %td.icon
       %td.heads Modern method<br>«Fiscal Settlement System»
      %tr
       %td.inf-l
        %ul
         %li The necessity of attraction of budgetary funds
         %li The high administration costs of cash transactions
         %li High level of corruption
       %td.icon
        .ticon
         %img{src:'images/svg/goverment_gray.svg'}
       %td.inf-r 
        %ul
         %li The lack of budget expenditures on the implementation of the FSS in operation at the state level
         %li Low cost of administration of cash operations
         %li The lack of the possibility of organizing corruption schemes
      %tr
       %td.inf-l
        %ul
         %li The cost of cash registers 4500-17700 UAH
         %li Maintenance cost from 200 UAH per month
       %td.icon
        .ticon
         %img{src:'images/svg/business_gray.svg'}
       %td.inf-r
        %ul
         %li The lack of initial investment
         %li The cost of service 20-150 UAH per month
      %tr
       %td.inf-l
        %ul
         %li The increase in the cost of goods and services and the acceptance of the existence of corruption
       %td.icon
        .ticon
         %img{src:'images/svg/people_gray.svg'}
       %td.inf-r
        %ul
         %li Reducing the cost of goods and services and improving the standard of living
  

  
  
      
  
  
  
  
  
  %section.section.pluses#plus
   .marker#mp
   .inner
    %h1.center The advantages of the FSS
    .pluses_block
     
     .one_plus
      .plus_icon#plus1
       %img{src:'images/svg/shop_white.svg'}
      .plus_anno.for_b For entrepreneurs
      .plus_list
       %ul
        %li The absence of the necessity of investment for  the connection of special cash equipment and adaptation of software systems
        %li Simplification of the registration procedure of cash transactions and reporting
        %li The possibility of application of any hardware for settlements (PC, smartphone, tablet)     
        %li Reducing the cost of servicing settlements and cash operations
     
     .one_plus
      .plus_icon#plus2
       %img{src:'images/svg/goverment_white.svg'}
      .plus_anno.for_g For the state
      .plus_list
       %ul
        %li Reducing risks of data manipulation of cash transactions and tax evasion
        %li Simplification of the registration and administration of cash transactions
        %li Obtaining fiscal data in real time
        %li Credibility, authenticity and integrity of received information
        %li Reduction of tax audits
    
 
 
 
 
 
 
 
  %section.section.connect#connect
   .marker#mc
   .inner
    %h1.center CONNECTION
    %p.center The order of connection to the FSS by legal entities or sole proprietors
    .connect_block
     .one_connect#connect1
      .connect_number.colorized_1
       .con_ico
        %img{src:'images/svg/cloud1.svg'}
      .connect_icon
       %img{src:'images/svg/step_1.svg'}
      .connect_desc Registration of the seller of goods or services at the FSS 
     .one_connect#connect2
      .connect_number.colorized_2
       .con_ico
        %img{src:'images/svg/cloud2.svg'}
      .connect_icon
       %img{src:'images/svg/step_2.svg'}
      .connect_desc.extra_pad Registration of points of sale and hardware in the FSS 
     .one_connect#connect3
      .connect_number.colorized_3
       .con_ico
        %img{src:'images/svg/cloud3.svg'}
      .connect_icon
       %img{src:'images/svg/step_3.svg'}
      .connect_desc Installation and integration of client software 
     .one_connect#connect4
      .connect_number.colorized_4
       .con_ico
        %img{src:'images/svg/cloud4.svg'}
      .connect_icon
       %img{src:'images/svg/step_4.svg'}
      .connect_desc Switching the hardware in fiscal mode             
    %p.center Sellers of goods and services, after the connection to the FSS, can use smartphones, tablets, computers, self-service terminals as registrars of settlement transactions in order to perform fiscal functions.
  
  
  
  
  
  %section.section.laws#law
   .inner
    %h1.center Legislation
    .mob
     %p The Law of Ukraine "On amendments to the Tax code of Ukraine and certain legislative acts of Ukraine regarding tax reform" N71-VIII was adopted on 28 December 2014 	
     %p Since 1 July 2015 the tax reform provides a gradual extension of obligation to the use the RST (registrar of settlement transactions) for all financial institutions, National postal operator and other legal entities   
    %h2.center Legislative requirements for the timing of implementing the registration of settlement transactions
    %table
     %tr
      %td.number 1
      %td.name Entrepreneurs - unified tax payers of the 3 group (income of 1.5 million to 20 million UAH per year) 
      %td.date since 1 July 2015
     %tr
      %td.number 2
      %td.name Entrepreneurs - unified tax payers of the 2 group (income from 300 thousand to 1.5 million UAH per year), when the income exceeding 1 million UAH per year 
      %td.date since 1 January 2016 
     %tr
      %td.number 3
      %td.name Operators of self-service terminals and accounts depositing, regardless of the form of ownership
      %td.date since 1 January 2016 
     %tr
      %td.number 4
      %td.name Non-bank financial institutions 
      %td.date since 1 January 2016
     
  
  %section.section.contacts#contact
   .inner
    %h1.center Contact details
    .contacts-block
     .contacts-left
      .myform
       %form{id:'myform', method:'post', action:''}
        %input{class:'field', type:'text', placeholder:'E-mail', id:'em', name:'em', onkeyup:'check();'}
        %input{class:'field', type:'text', placeholder:'Subject', id:'sb', name:'sb', onkeyup:'check();'}
        %textarea{class:'field tx', placeholder:'Text message', id:'feed', name:'feed'}
        %button{type:'submit', id:'send', class:'btn disable'} Send
     .contacts-right
      .contacts-details
       %p.hea N.KRAT Services GmbH
       %p.sep 44287, Dortmund, Germany
       %p Ringofenstrasse, 43
       %p.sep tel: +49 231 444 781 00
       %p fax: +49 231 444 781 01
       %p e-mail: de@nkrat.net       
      .contacts-details.add-details
       %p.hea Office in Ukraine
       %p.sep Novokonstantynivska str., 13/10
       %p 04080 Kyiv, Ukraine
       %p.sep tel: +380 44 205 56 77
       %p fax: +380 44 205 56 78
       %p e-mail: ua@nkrat.net 
     .clear   

  
  .footer
   .fleft
    %img{src:'images/svg/footer_logo.svg'}
   .fright.imp
    %a{href:'imprint.html', class:'to_imp'} Imprint
   .clear
    
  %script{src:"js/min/anim-min.js"}    
      