.logo{display:block; float:left; width: 140px;}


.nav{ display:block; float:right;
	ul{margin: 12px 0 0 0!important; padding: 0!important;
		li{
			display: inline;  margin-right: 20px; font-weight: 700; color:#666;
			
		}
	}
}

.cont{margin-right: 150px!important; color:#ccc!important;} 