!!! 5
%html
 %head
  %title Netopay Digital
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  %link{rel:'icon', type:'image/png', href:'../images/favicon-color.png'} 
  
  %link{href:"../css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"../js/min/jquery-min.js"}
  %script{src:"../js/min/easing-min.js"}
  %script{src:"../js/min/scroll-min.js"}
  %script{src:"../js/min/head-min.js"}
  %script{src:"../js/min/headjq-min.js"}
  %script{src:"../js/min/slides-min.js"}
  %script{src:"../js/min/form-min.js"}
  %script{src:"../js/min/check-min.js"}
    
 
 %body 
  %script{src:'../mail/mail-min.js'}
  .thk.off	Your message was sent. Thank you!
  
  
  %header
   .logo
    %a{href:'/en/'}
     %img{src:"../images/svg/logo.svg"}
   .langnav EN
   .mobnav MENU
   
   .langs
    %ul
     %li
      %a{href:'/ua/'} UA
     %li
      %a{href:'/ru/'} RU
     %li
      %a{href:'/en/'} EN
     %li
      %a{href:'/de/'} DE
   
   .nav
    %ul
     %li
      %a{href:'#about'}  about
     %li
      %a{href:'#pluses'}  advantages
     %li
      %a{href:'#works'}  how it works
     %li
      %a{href:'#know'}  important
     %li
      %a{href:'#laws'}  LEGISLATION
     %li
      %a{href:'#contact'}  Contacts 
      
     
  %section.start
   .overlay
    .hello
     %img{src:'../images/svg/sten.svg'}
    .next 
    .scroll.animated.bounceMouse 
   .loops 
   
   
    #slides
     .slides-container
      %img{src:""}
      %img{src:""}
      
  
  
  
  
  
  
  
  
  
  %section.about#about
   %h1 ABOUT
   .inner
    .about_text 
     %p Netopay Digital – is a service that allows consumer to make payment for digital goods and services through the self-service terminal (Cash-in), retailer’s cash department and point of sale, currency exchange office and the Internet
     %p.add Digital goods and services are products supplied in the digital form, such as game-money, software, video and audio content, etc.
   
  
  
  
  
  
  
  
  
  
  
  
  
  #pluses
   %section.time
    %h1#src_title Advantages of netopay digital
    .inner
     .timeline-all
     
      .timeline-partical.p1{:"data-parallax" => '{"y": -2250, "from-scroll": 300,  "distance": 800, "smoothness": 10, "duration":200}'}
      .timeline-partical.p2{:"data-parallax" => '{"y": -2200, "from-scroll": 530,  "distance": 800, "smoothness": 40, "duration":300}'}
      .timeline-partical.p3{:"data-parallax" => '{"y": -2000, "from-scroll": 430,  "distance": 800, "smoothness": 10, "duration":250}'}
      .timeline-partical.p4{:"data-parallax" => '{"y": -1900, "from-scroll": 730,  "distance": 800, "smoothness": 50, "duration":450}'}
      .timeline-partical.p5{:"data-parallax" => '{"y": -1700, "from-scroll": 830,  "distance": 800, "smoothness": 70, "duration":650}'}
      .timeline-partical.p6{:"data-parallax" => '{"y": -1700, "from-scroll": 1400,  "distance": 800, "smoothness": 20, "duration":1250}'}
      .timeline-partical.p7{:"data-parallax" => '{"y": -1700, "from-scroll": 1630,  "distance": 800, "smoothness": 80, "duration":850}'}
      .timeline-partical.p8{:"data-parallax" => '{"y": -1500, "from-scroll": 1700,  "distance": 800, "smoothness": 10, "duration":250}'}
      .timeline-partical.p9{:"data-parallax" => '{"y": -1900, "from-scroll": 1800,  "distance": 800, "smoothness": 30, "duration":340}'}
      .timeline-partical.p10{:"data-parallax" => '{"y": -1800, "from-scroll": 2000,  "distance": 800, "smoothness": 30, "duration":340}'}
      .timeline-partical.p11{:"data-parallax" => '{"y": -1800, "from-scroll": 2000,  "distance": 800, "smoothness": 30, "duration":340}'}
      .timeline-partical.p12{:"data-parallax" => '{"y": -1800, "from-scroll": 1900,  "distance": 800, "smoothness": 10, "duration":440}'}
      .timeline-partical.p13{:"data-parallax" => '{"y": -1800, "from-scroll": 1900,  "distance": 800, "smoothness": 20, "duration":400}'}
      .timeline-partical.p14{:"data-parallax" => '{"y": -1800, "from-scroll": 2100,  "distance": 800, "smoothness": 40, "duration":640}'}
      .timeline-partical.p15{:"data-parallax" => '{"y": -1800, "from-scroll": 2300,  "distance": 800, "smoothness": 40, "duration":640}'}
      .timeline-partical.p16{:"data-parallax" => '{"y": -1800, "from-scroll": 2100,  "distance": 800, "smoothness": 40, "duration":640}'}
      .timeline-partical.p17{:"data-parallax" => '{"y": -1800, "from-scroll": 2300,  "distance": 800, "smoothness": 80, "duration":540}'}
      .timeline-partical.p18{:"data-parallax" => '{"y": -1600, "from-scroll": 2600,  "distance": 800, "smoothness": 80, "duration":740}'}
      .timeline-partical.p19{:"data-parallax" => '{"y": -1800, "from-scroll": 2500,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p20{:"data-parallax" => '{"y": -1800, "from-scroll": 2500,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p21{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p22{:"data-parallax" => '{"y": -500, "from-scroll": 2800,  "distance": 800, "smoothness": 90, "duration":640}'}
      .timeline-partical.p23{:"data-parallax" => '{"y": -1000, "from-scroll": 2900,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p24{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p25{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p26{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
     
      .timeline-axis
       .axis-center
     
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.tr.nums{:"data-parallax" => '{"x": 45, "from-scroll": 600,  "distance": 800, "smoothness": 10}'} 1
        .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 0, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -44, "from-scroll": 600, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_1 It provides the producers with guarantees of receiving funds from sales of digital products and services  
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 47, "from-scroll": 700, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_2 Settlements with non-resident companies in foreign currency in accordance with the current legislation
        .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 300, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.tl.nums{:"data-parallax" => '{"x": -45, "from-scroll": 850,  "distance": 800, "smoothness": 10}'} 2  
       
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.tr.nums{:"data-parallax" => '{"x": 45, "from-scroll": 1100,  "distance": 800, "smoothness": 10}'} 3
        .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 600, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -44, "from-scroll": 1000, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_3 Optimization of costs associated with the import of goods and services, tax costs reduction 
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 47, "from-scroll": 1300, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_4 It enables a possibility of universal pricing of the goods and services in on-line mode and minimization of the  purchase/sale currency risks in the regional markets
        .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 900, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.tl.nums{:"data-parallax" => '{"x": -45, "from-scroll": 1350,  "distance": 800, "smoothness": 10}'} 4 
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.tr.nums{:"data-parallax" => '{"x": 45, "from-scroll": 1650,  "distance": 800, "smoothness": 10}'} 5
        .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 1200, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -45, "from-scroll": 1600, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_5 Provision of informational and financial security for all participants of import business process and sale of digital goods and services to consumers
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 47, "from-scroll": 1850, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_6 Establishment of legally significant relationship between all participants of the service in implementationof the purchase/sale of digital goods/services and the fixing of their financial responsibility 
        .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 1500, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.tl.nums{:"data-parallax" => '{"x": -45, "from-scroll": 2000,  "distance": 800, "smoothness": 10}'} 6            
    
    
    
    
   %section.time-mobile
    .inner
     %h1#for_title
    
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_1
    
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_2
    
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_3
     
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_4
     
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_5
     
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_6     
             
  
  
  %section.scheme#works
   %h1 How it works
   .inner
    %img{src:'../images/svg/scheme_en.svg'}
    
  
  
  
  
  
  
  
  
  
  
  %section.digits#know
   %h1 IMPORTANT
   .for_parallax{:"data-parallax" => '{"x": 3000, "distance": 20000, "smoothness": 10}'}
   .for_parallax2{:"data-parallax" => '{"x": -5000, "distance": 18000, "smoothness": 30}'}
   .for_parallax3{:"data-parallax" => '{"x": -3000, "distance": 18000, "smoothness": 20}'}
   .inner 
    .digitals
     #plate_1.one_digital In the Netopay Digital terms the digital goods mean a special code in electronic form – the Quant or Quantum
     #plate_2.one_digital Each Quant represents a unique set of data which makes its particular parts work in a result of interaction between the goods or services of the producer
     #plate_3.one_digital The legal definition of the Quant is  a legal significant  requirement  to producers for receiving goods or services in scale set in advance 
     #plate_4.one_digital In terms of regulatory and supervisory authority of Ukraine, Quant is the access code to the program complexes and systems of producers, Import and distribution of the plug on the territory of Ukraine is authorized and regulated by law, legal acts and regulations
     #plate_5.one_digital From a technical standpoint, Quant  is an encrypted document in electronic form, which contains all information about the producer, the product (or service), its cost, delivery and use, as well as other necessary information for carrying out a transaction
     #plate_6.one_digital From a financial standpoint, Quant is a unique accounting tool box in an electronic form, and the transaction with its use is instantaneous and irrevocable. All transactions are carried out through the Netopay Digital service
     
  %section.laws#laws
   .inner
    %h1 LEGISLATION
    .laws_list
     %ul
      %li The activities of the service are fully carried out in accordance with the local and international legislative norms and rules of the financial markets in various geographical regions
      %li The legislative norms and requirements on counteraction to financing of terrorism and money laundering (FATF) are considered in agreement between all the participants of the service
      %li All participants of the system are a subject to be checked according to KYC specifications with objective of counteraction to money laundering
      %li All agreements comply with OLAF requirements
      %li All users of the service sign an agreement/confirm an agreement with “Anti-Money Laundering Agreement“ and „Anti-Financial Fraud Compliance“
     
	   
     
	  
  
  
  
  
  
  
  
  
  
  
  
  %section.contacts#contact
   .inner
    %h1.center Contacts
    .contacts-block
     .contacts-left
      .myform
       %form{id:'myform', method:'post', action:''}
        %input{class:'field', type:'text', placeholder:'E-mail', id:'em', name:'em', onkeyup:'check();'}
        %input{class:'field', type:'text', placeholder:'Subject', id:'sb', name:'sb', onkeyup:'check();'}
        %textarea{class:'field tx', placeholder:'Message', id:'feed', name:'feed'}
        %button{type:'submit', id:'send', class:'btn disable'} Send
     .contacts-right
      .contacts-details
       %p.hea NETOPAY PDC LTD
       %p.sep Suite 13051
       %p 43 Bedford Street
       %p London WC2E 9HA
       %p England       
      .contacts-details.add-details
       %p.hea Representative office
       %p.hea LLC «Netopay DC» 
       %p.sep Novokonstantinovskaya st. 13/10
       %p 04080 Kyiv, Ukraine
       %p.sep e-mail: digital@netopay.email
       %p tel: +380 44 205 56 77
       %p fax: +380 44 205 56 78
     .clear   
  
  .footer
   .fleft
    %img{src:'../images/svg/footer_logo.svg'}
   .fright.imp
    %a{href:'imprint.html', class:'to_imp'} Imprint
   .clear
  
    
  %script{src:"../js/min/anim-min.js"}
  %script{src:"../js/min/copy-min.js"}
   
      