!!! 5
%html
 %head
  %title Credits HAML
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  %link{rel:'icon', type:'image/png', href:'images/favicon.png'} 
  
  %link{href:"css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"js/min/jquery-min.js"}
  %script{src:"js/min/head-min.js"}
  %script{src:"js/min/headjq-min.js"}
  %script{src:"js/min/slides-min.js"}
  %script{src:"js/min/form-min.js"}
  %script{src:"js/min/check-min.js"}
 
 %body
  
  
  %header
   .logo
    %a{href:'/'}
     %img{src:"images/svg/logo.svg"}
   .langnav EN
   .mobnav MENU
   
   .langs
    %ul
     %li
      %a{href:'#'} UA
     %li
      %a{href:'#'} EN
     %li
      %a{href:'#'} DE
   
   .nav
    %ul
     %li
      %a{href:'#'}  link1
     %li
      %a{href:'#'}  link1
     %li
      %a{href:'#'}  link1
     %li
      %a{href:'#'}  link1
     %li
      %a{href:'#'}  link1
     
  %section.start
   .overlay
    .hello
     %img{src:'images/svg/st.svg'}
    .next 
    .scroll.animated.bounceMouse 
   .loops 
   
   
    #slides
     .slides-container
      %img{src:"http://www.planwallpaper.com/static/images/2022725-wallpaper_625864_Iz6NK8G.jpg"}
      %img{src:"http://www.planwallpaper.com/static/images/kartandtinki1_photo-wallpapers_02.jpg"}
      
    
    
      
  %section.section
  
  %section.contacts
   .inner
    %h1.center Контакти
    .contacts-block
     .contacts-left
      .myform
       %form{id:'cform', method:'post', action:'notify.php'}
        %input{class:'field', type:'text', placeholder:'E-mail', id:'em', name:'em', onkeyup:'check();'}
        %input{class:'field', type:'text', placeholder:'Тема', id:'sb', name:'sb', onkeyup:'check();'}
        %textarea{class:'field tx', placeholder:'Текст повідомлення', id:'feed', name:'feed'}
        %button{type:'submit', id:'send', class:'btn disable'} Відправити
     .contacts-right
      .contacts-details
       %p.hea N.KRAT Group GmbH
       %p.sep 44287 м. Дортмунд, Німеччина
       %p вул. Рінгофенштрассе, 43
       %p.sep Факс: +49 231 444 781 01
       %p Тел: +49 231 444 781 00
       %p e-mail: de@nkrat.net       
      .contacts-details.add-details
       %p.hea sadasd
       %p.sep dhaskjdh
       %p dsgfhdsgf
       %p.sep hdskdhasjh
       %p shfjkdshf
       %p asgdashgd
     .clear   
  
  .footer
   .fleft
    %img{src:'images/svg/footer_logo.svg'}
   .fright.imp
    %a{href:'imprint.html', class:'to_imp'} Imprint
   .clear
    
  %script{src:"js/min/anim-min.js"}    
      