!!! 5
%html
 %head
  %title digital HAML IMPRINT
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  %link{rel:'icon', type:'image/png', href:'images/favicon.png'} 
  
  %link{href:"css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"js/min/jquery-min.js"}
  %script{src:"js/min/easing-min.js"}
  %script{src:"js/min/scroll-min.js"}
  %script{src:"js/min/head-min.js"}
  %script{src:"js/min/headjq-min.js"}
  %script{src:"js/min/slides-min.js"}
  %script{src:"js/min/form-min.js"}
  %script{src:"js/min/check-min.js"}
    
 
 %body 
    
  %header
   .logo
    %a{href:'/'}
     %img{src:"images/svg/logo.svg"}
   .langnav EN
   .mobnav MENU
   
   .langs
    %ul
     %li
      %a{href:'#'} UA
     %li
      %a{href:'#'} EN
     %li
      %a{href:'#'} DE
   
   .nav
    %ul
     %li
      %a{href:'#'}  link1
     
     
    
  %section.impr
   %h1 Imprint
   .info
    %h3 Захист даних
    %p Як правило, використання нашого сайту може проводитися без наведення користувачами своїх персональних даних. Але у випадку, виникнення необхідності, в рамках використання нашого ресурсу, наведення персональних даних, ми зобов'язуємось не розголошувати персональні дані третім особам без вашої попередньої згоди.
      
    %p Ми зобов’язуємося збирати персональні дані виключно в обсязі необхідному для визначених цілей та не використовувати в інших цілях без вашої згоди.
      
     
    %p Ми знімаємо з себе відповідальність за втрату персональних даних, що виникла в наслідок витоку інформації при пересиланні електронних повідомлень або в наслідок інших способів комунікації.
      
    %h3 Google Analytics
    %p Дана сторінка використовує Google Analytics. Google Analytics використовує так звані "Cookies" - текстові файли, які зберігаються на вашому комп’ютері і дозволяють проводити аналіз відвідуваності ресурсу. Інформація, отримана за допомогою Cookie , зберігається на сервері сервісу Google в США. Google буде використовувати цю інформацію для аналізу використання вами нашої сторінки. Google може в рамках свого сервісу передавати аналітичні дані третім особам.
    
    
    %h3 Зміст
    %p Не зважаючи не те, що інформація на нашому сайті проходить ретельний підбір, компанія не несе відповідальність за повноту, правильність та актуальність інформації, що наведена на сайті.
    %p Також компанія не несе відповідальність за оформлення та зміст інтернет-ресурсів, посилання на які розташовані на нашому сайті або за інформацію, розміщену або збережену на нашому ресурсі третіми особами.
    %p Це виключення відповідальності є частиною інтернет - презентації компанії N.KRAT Group GmbH. У випадку, не відповідності або відповідності не повною мірою окремих формулювань правовим положенням, інші частини цієї заяви залишаються в силі. 
   
   
    
  
  .footer
   .fleft
    %img{src:'images/svg/footer_logo.svg'}
   .fright.imp
    %a{href:'imprint.html', class:'to_imp'} Imprint
   .clear
  
    
  %script{src:"js/min/anim-min.js"}
  %script{src:"js/min/copy-min.js"}
   
      