.experience{padding: 80px 0; color:#333; font-size: 16px;}
.links_block{text-align: center; margin-top: 40px;}
.one_link{text-align: left; display:inline-block; vertical-align: top; width:220px; margin: 0 10px 20px 10px;}
.link_name{font-size: 18px;}
.go_link{font-size: 13px; color:#229fff;}
.go_link:hover{text-decoration: none;}