!!!
%html
 %head
  %title Finance 4 Haml
  %meta{name:"Content-Type", content:"charset=UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  
  %link{href:"css/style.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
  %script{src:"js/min/head-min.js"}
  %script{src:"js/min/headjq-min.js"}
 
 %body
  %header
   .logo logo
   .nav
    %ul
     %li
      %a{href:"#"} asdasd
     %li
      %a{href:"#"} asdasd
     %li
      %a{href:"#"} asdasd
     %li
      %a{href:"#"} asdasd
     %li
      %a{href:"#"} dsad
     %li
      %a{href:"#"} asdsad
     %li
      %a{href:"#"} sadasd  
      
       
  %section.start
   .hello hello
   .next next
   .overlay
  
  
  
  %section.section
   .inner.center
    .inleft.left 
     %h1 about
    .inright right
    .clear  
  
  
  
  %section.section.light   
   .inner.center
    .inleft left
    .inright.left
     %h2 Pluses
     %ul
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
      %li dasdasdsad
    .clear
    
    
  %section.section
   .inner.center
    .inleft.left 
     %h1 How its work
    .inright right
    .clear      
  
  
  %section.section
   .inner.center
    .for3 left
    .for3 center
    .for3 right
    .clear
  
  
  %section.section
   .inner.center
    %h1 rules
    %p  dsgadgahsj asdgas ashgdas asgdas ashgdas dfahsd ashfdas
  
  
  
  
  %section.section
   .inner.center
    .for4.left
     .exp_name fgdshfdghsfhgds
     .a{href:"Http://google.com", target:"_blank"} http://dgashdgasgd
    .for4 2
    .for4 3
    .for4 4
    .for4 1
    .for4 2
    .for4 3
    .for4 4
    .for4 1
    .for4 2
    .for4 3
    .for4 4
    .for4 1
    .for4 2
    .for4 3
    .for4 4
  
  %section.section
   .inner.center
    %h1 with us
    %p gdshfgdshjfghdsjfghjdsgfjhdsgfdsf
    
    .block-with-us
     .for3
      .for3-icon icon
      .for3-anno anno
     .for3
      .for3-icon dsadasd
      .for3-anno dasdasd
     .for3
      .for3-icon sdasdasd
      .for3-anno sadasdasd
     .clear
 
  
  
  
  %section.section
   .center section pdf
  
  %section.section
   .inner
    %h1.center dhsfjkdsfh
    .inleft  left
    .inright right
    .clear  
   
  
  
  
  .footer footer    
  %script{src:"js/min/anim-min.js"}