!!! 5
%html
 %head
  %title New Project
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  %link{rel:'icon', type:'image/png', href:'images/favicon.png'} 
  
  %link{href:"css/main.css", rel:"stylesheet", type:"text/css", media:"all"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"all"}
  %script{src:"js/min/jquery-min.js"}
  
 
 %body
  
  .overlay.off
  
  
  
  #top
   .inside
    .logo 
     %img{src:'images/svg/logo_white.svg'}
    .nav
     %ul
      %li.cont CONTACT
      %li UA
      %li EN
      %li RU
      %li DE
    .clear 
  
  #bottom
   .inside.bordered
    .copy All Rights Reserved 2015
    .small_logo
     %img{src:'images/svg/footer_logo.svg'}
    .impr imprint
   .clear  
  
  #main_part
   .side
    .sidecont
     %img{src:'images/svg/testcont.svg'} 
   .side
    .sidecont Забезпечення фінансової та технологічної безпеки товарно-фінансових  угод, виключення можливості маніпуляції даними та шахрайства, зниження операційних ризиків
  
  