.contacts{padding: 80px 0 120px 0!important; color:#333; font-size: 16px; font-weight: 300; background: url('../images/bg-contacts.svg') bottom right no-repeat; position: relative;
	p{margin-top: 0!important; margin-bottom: 0px;}
	p.sep{margin-top: 10px!important;}
	.hea{font-weight: 400;}
}

.add-details{margin-top: 50px!important;}

.contacts-block{position: relative; margin-top: 40px;}
.contacts-left{position: relative; float:left;  width: 50%;}
.contacts-right{position:relative; float:right; width: 50%;}
.contacts-details{position: relative; display:block; width: 60%; margin: 0 auto;}


.myform{width: 100%; display:block!important;}
.field{width: 100%; padding:20px; box-sizing: border-box; margin-bottom: 10px; outline:none; border-radius: 0px; border:2px solid #eee; color:#333; font-weight: 400;}

/* сдвиг placeholder-а вправо при фокусе*/
.field::-webkit-input-placeholder       {text-indent: 0px; opacity:1;   transition:  text-indent 0.3s ease, opacity 0.3s ease;}
.field::-moz-placeholder                {text-indent: 0px; opacity:1;   transition: text-indent 0.3s ease, opacity 0.3s ease;}
.field:-moz-placeholder                 {text-indent: 0px; opacity:1;  transition: text-indent 0.3s ease, opacity 0.3s ease;}
.field:-ms-input-placeholder            {text-indent: 0px; opacity:1;  transition: text-indent 0.3s ease, opacity 0.3s ease;}
.field:focus::-webkit-input-placeholder {text-indent: 500px; opacity:0; transition: text-indent 0.3s ease, opacity 0.3s ease;}
.field:focus::-moz-placeholder          {text-indent: 500px; opacity:0; transition: text-indent 0.3s ease, opacity 0.3s ease;}
.field:focus:-moz-placeholder           {text-indent: 500px; opacity:0; transition: text-indent 0.3s ease, opacity 0.3s ease;}
.field:focus:-ms-input-placeholder      {text-indent: 500px; opacity:0; transition: text-indent 0.3s ease, opacity 0.3s ease;}


.myform input[type="text"]:focus,
.myform textarea:focus{
 border: 2px solid #77c6fd;
 box-shadow: 0 0 6px rgba(119,198,253,0.9);	
}


.tx{resize: none; height: 280px; overflow-x: hidden;}


.disable{background: rgba(0,0,0, 0.1)!important; color:rgba(255,255,255, 0.7)!important; border-color:rgba(0,0,0, 0.0)!important;}
.disable:hover{background: rgba(0,0,0, 0.1)!important; color:rgba(255,255,255, 0.7)!important; border-color:rgba(0,0,0, 0.0)!important;}

.thk{position: fixed; width: 30%; padding: 50px; left:50%; margin-left: -15%; background: #2a7df5; z-index: 300500;text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); font-size: 16px; font-weight: 400; visibility: hidden; color:#fff;
}

.btn{display:inline-block; border:1px solid $btcolor;  font-weight: 500; border-radius: 4px; background: $btcolor; padding: 16px 30px; color:#fff; font-size: 18px;
	-webkit-transition: all 0.1s ease-out;
             -moz-transition: all 0.2s ease-out;
             -o-transition: all 0.2s ease-out;
             transition: all 0.2s ease-out;
}

.btn:hover{background:$bhover; border-color:$bhover;}