@media screen and (max-width: 767px) {

.inner{width: 100%!important;}

.contacts-block{ margin-top: 20px;}
.contacts-left{display:block; width: 100%; margin: 0 auto;}
.contacts-right{display:block!important; width: 100%; margin: 0 auto;}
.contacts-details{margin: 40px auto; text-align: center; width: 90%;}
.myform{width: 90%; display:inline-block;  margin: 0 auto!important;}
.field{width: 100%;}	
	
}