@media screen and (max-width: 800px) {

.inner{width: 100%!important;}

.contacts-block{ margin-top: 20px;}
.contacts-left{display:block; width: 100%; margin: 0 auto;}
.contacts-right{display:block!important; width: 100%; margin: 0 auto;}
.contacts-details{margin: 40px auto; text-align: center; width: 90%;}
.myform{width: 90%; display:inline-block;  margin: 0 auto!important;}
.field{width: 100%;}	




.desktop{display:none!important;}
.mobile{display:block!important; width: 60px;}
.hello{width: 200px; height: 200px; display:block; position: absolute; left:50%; margin-left: -100px; top:50%; margin-top: -100px;}
.next{position: absolute; width:36px; height: 36px; bottom:7%; left:50%; margin-left:-18px; background: url('../images/svg/mouse.svg'); display:block;}
.scroll{position: absolute; width:36px; height: 36px; bottom:7%; left:50%; margin-left:-18px; display:block; background: url('../images/svg/d.svg');}

h1{font-size: 30px; font-weight: 300;}

.btn{width: 100%;}	
.thk{position: fixed; width: 90%; padding: 50px 0!important; left:50%; margin-left: -45%; background: $sky; z-index: 300500;text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); font-size: 16px; font-weight: 400; visibility: hidden; color:#fff;
}


.what{ padding: 100px 0!important;
	.big_text{width: 90%!important; margin:30px auto 0 auto; font-weight: 400; font-size: 15px!important;}
	h1{font-weight: 300;}
}









.mission{background: $missionbg url('../images/patternx.png') top left; color:#fff; padding: 50px 0 50px 0!important;
	.mission_block{text-align: center; margin-top: 60px;}
	.one_mission{display:inline-block; vertical-align: top; width: 240px; min-height: 200px; margin: 0 15px 0 15px; margin-bottom: 40px;}
	.mission_icon{width: 90px; height: 90px; margin: 0 auto; }
	.mission_anno{font-size: 18px; margin-top: 20px; font-weight: 700;}
	h1{font-weight: 300; color:#fff;}
}




.work{padding: 50px 0 80px 0!important;
	.work_block{border-top:0px solid #eee; border-bottom: 0px solid #eee; margin-top: 50px; }
	.scheme{display:block; vertical-align: top; border-right: 0px solid #eee; width: 100%; height: auto; min-height: 100px; padding: 60px 0 50px 0; position: relative;}
	.side{display:block; vertical-align: top; padding: 0px 0px 0 0px; width: 90%; margin: 0 auto;  }
	.side_row{margin-top: 20px;}
	.side_icon{width: 50px; height: 50px;  margin-right: 15px; display:inline-block; vertical-align: middle;}
	.side_anno{display:inline-block; vertical-align: middle; width: 70%; font-size: 14px; color:#9f9e9e;}
	h1{font-weight: 300;}
	h2{font-weight: 700; color:#9f9e9e; font-size:18px; margin: 0!important; padding: 0!important;}
	
	.absolute_scheme{position: relative; width: 100%; display:block;}
}



.pluses{background: $plusesbg; color: #fff; padding: 70px 0 20px 0!important;
	.pluses_block{text-align: center; font-size: 0; margin-top: 30px;}
	.one_plus{display:inline-block; vertical-align: top; width: 90%; margin: 0 auto 50px auto;}
	.plus_icon{display:block; margin: 0 auto; width: 200px; height: 200px;}
	.plus_anno{font-size: 24px; margin-top: 0px; color:#fff; font-weight: 700;}
	.for_g{color:#ffffff;}
	.for_b{color:#ffffff;}
	.plus_list{text-align: left; margin-top: 30px;
		ul{margin: 0 0 0 20px!important; padding: 0!important;
			li{
				font-size: 15px; margin-bottom: 8px; font-weight: 500; list-style-type: decimal;
			}
		}
	}
	h1{color:#fff;}
}






.connect{padding-bottom: 40px;
	.connect_block{text-align: center; margin: 50px 0 20px 0; }
	.one_connect{display:inline-block; vertical-align: top; width: 90%;  margin:0 10px 0 10px; border-radius: 0px; box-shadow: 0 0 7px rgba(0,0,0,0.13);
		margin-bottom: 30px;
		}
	.connect_number{  padding-top: 30px; padding-bottom: 40px; font-size: 50px; border-radius: 0px 0px 0 0; color:#fff;}
	.con_ico{display:block; width: 60px; height: 60px; margin: 0 auto;}
	.connect_icon{display: block; width: 40px; height: 40px;  position: absolute; margin-top:-20px; left: 50%; margin-left: -20px;}
	.connect_desc{color:#666666; padding: 50px 10px 0 10px;  min-height: 100px; font-size: 15px; font-weight: 500; border-radius: 0px 0px 0px 0px; 
		border-bottom:1px solid #ddd; border-left:1px solid #ddd; border-right: 1px solid #ddd;
	 
	}
	
	.extra_pad{padding: 50px 20px 0 20px!important;}
	.colorized_1{background: #ff5055;}
	.colorized_2{background: #59C8E0;}
	.colorized_3{background: #FFCA00;}
	.colorized_4{background: #02D1AC;}
	p{color:#666; font-weight: 400; font-size: 14px; }
}



.laws{background: #fafafa; padding: 50px 0 0 0!important;
	p{color:#999; font-size: 14px;}
	h1{margin-bottom: 20px!important;}
	h2{font-weight: 300; font-size: 18px; margin-top: 30px;}
}




.mob{width: 90%; margin: 0 auto;}
.connect{width: 90%; margin: 0 auto;}
.methods_block{display:none;}





.impr{width: 90%; z-index:0; padding: 100px 0; font-weight: 300; font-size: 16px;
	h1{font-size: 36px; text-align: center;}
}

.partners{width: 120px; display:block; position: absolute; right: 20px!important; bottom:7%;}




#spiders{display:none;}
	
}