$width:1000px;
$s-min-height:200px;

$light:#eee;
$superlight:#FAFAFA;
$darkblue:#17233A;


$missionbg:#3A5A98;
$plusesbg:#0C99D0;
$ongrayfont:#B8B8B8;

$btcolor:#229fff;
$bhover:#0262AD;

$sky:#229fff;

@import 'normalize';
@import 'anim';
//@import 'as';
@import 'tables';
@import 'navmenu';
@import 'contacts';
@import 'footer';

canvas#spiders {
  height:100vh;
}
.spiders{background: #354459; overflow:hidden; margin:0; padding:0; background-size:cover; position: absolute; width: 100%; height: 100%; z-index:1; }


.center{text-align: center;}
.mobile{display:none!important;}

body{font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 400; color:#666; }
h1{text-transform: uppercase; font-weight: 300; font-size: 40px; margin: 0 0!important; padding: 0 0!important; color:#888888;}
.logo{display:block; width: 190px; margin-top: 15px;}

.start{position: relative; width: 100%; height: 100%; }
.overlay{position: absolute; z-index: 10; background: rgba(0,0,0,0.0); width: 100%; height: 100%;}
.loops{position: absolute; z-index: 5; background: transparent url('../images/bgl.svg') bottom center no-repeat; background-size: cover; width: 100%; height: 100%;}
.next{position: absolute; width:70px; height: 70px; bottom:7%; left:50%; margin-left:-35px; background: url('../images/svg/mouse.svg'); display:block;}
.scroll{position: absolute; width:70px; height: 70px; bottom:7%; left:50%; margin-left:-35px; display:block; background: url('../images/svg/d.svg');}

.hello{width: 300px; height: 300px; display:block; position: absolute; left:50%; margin-left: -150px; top:50%; margin-top: -150px;}

.section{min-height: $s-min-height; padding: 80px 0;}

.inner{width: $width; margin: 0 auto;}





.what{ padding: 200px 0!important;
	.big_text{font-size: 20px; line-height: 28px; font-weight: 300; text-align: center; width: 800px; margin: 30px auto 0 auto; }
	h1{font-weight: 300;}
}


.mission{background: $missionbg; color:#fff; padding: 120px 0 140px 0!important;
	.mission_block{text-align: center; margin-top: 60px;}
	.one_mission{display:inline-block; vertical-align: top; width: 240px; min-height: 200px; margin: 0 15px 0 15px;}
	.mission_icon{width: 130px; height: 130px; margin: 0 auto; }
	.mission_anno{font-size: 18px; margin-top: 20px; font-weight: 700;}
	h1{font-weight: 300; color:#fff;}
}


.work{padding: 120px 0 120px 0!important;
	.work_block{border-top:0px solid #eee; border-bottom: 0px solid #eee; margin-top: 50px; }
	.scheme{display:inline-block; vertical-align: top; border-right: 0px solid #eee; width: 650px; height: 450px; min-height: 100px; padding: 20px 0 50px 0; position: relative;}
	.side{display:inline-block; vertical-align: top; padding: 20px 0px 0 20px; width: 320px; }
	.side_row{margin-top: 20px;}
	.side_icon{width: 50px; height: 50px;  margin-right: 15px; display:inline-block; vertical-align: middle;}
	.side_anno{display:inline-block; vertical-align: middle; width: 250px; font-size: 14px; color:#9f9e9e;}
	h1{font-weight: 300;}
	h2{font-weight: 700; color:#9f9e9e; font-size:20px; margin: 0!important; padding: 0!important;}
	
	.absolute_scheme{position: absolute; width: 100%; height: 100%; display:block; margin-top: -80px;}
}






.methods_block{
		.ticon{width: 70px; height: 70px;  margin: 0 auto;}
	}




.pluses{background: $plusesbg; color: #fff; padding: 80px 0 120px 0!important;
	.pluses_block{text-align: center; font-size: 0; margin-top: 30px;}
	.one_plus{display:inline-block; vertical-align: top; width: 440px; margin-left: 25px; margin-right: 25px;}
	.plus_icon{display:block; margin: 0 auto; width: 200px; height: 200px; visibility: hidden;}
	.plus_anno{font-size: 24px; margin-top: 0px; color:#fff; font-weight: 700;}
	.for_g{color:#ffffff;}
	.for_b{color:#ffffff;}
	.plus_list{text-align: left; margin-top: 30px;
		ul{margin: 0 0 0 20px!important; padding: 0!important;
			li{
				font-size: 15px; margin-bottom: 8px; font-weight: 500; list-style-type: decimal;
			}
		}
	}
	h1{color:#fff;}
}







.connect{
	.connect_block{text-align: center; margin: 50px 0; }
	.one_connect{display:inline-block; vertical-align: top; width: 220px;  margin:0 10px 0 10px; border-radius: 0px; //box-shadow: 0 0 7px rgba(0,0,0,0.13); 
		visibility: hidden;
		}
	.connect_number{  padding-top: 35px; padding-bottom: 60px; font-size: 50px; border-radius: 0px 0px 0 0; color:#fff;}
	.con_ico{display:block; width: 100px; height: 100px; margin: 0 auto;}
	.connect_icon{display: block; width: 80px; height: 80px;  position: absolute; margin-top:-40px; margin-left: 70px;}
	.connect_desc{color:#666666; padding: 50px 10px 0 10px;  min-height: 100px; font-size: 15px; border-radius: 0px 0px 0px 0px; 
		border-bottom:1px solid #ddd; border-left:1px solid #ddd; border-right: 1px solid #ddd;
	 
	}
	
	.extra_pad{padding: 50px 20px 0 20px!important;}
	.colorized_1{background: #ff5055;}
	.colorized_2{background: #59C8E0;}
	.colorized_3{background: #FFCA00;}
	.colorized_4{background: #02D1AC;}
	p{color:#666; font-weight: 300; font-size: 18px;}
}





.laws{background: #fafafa; 
	p{color:#999; font-size: 14px;}
	h1{margin-bottom: 50px!important;}
	h2{font-weight: 100; font-size: 24px; margin-top: 60px;}
}






.impr{position: relative;  margin:0 auto; width: 1000px; z-index:0; padding: 100px 0; font-weight: 300; font-size: 18px;
	h1{font-weight: 100;}
}

.info{font-size: 16px; color:#333;
	
	h3{margin-top: 50px!important; margin-bottom: 10px!important; font-size: 24px; line-height: 24px; font-weight: 400;}
	p{line-height: 24px; font-weight: 300;}
	
}


.marker{position: absolute; width: 1px; height: 1px; background: red; z-index:200000; margin-top: -40%; visibility: hidden;}

.min_logo{display:block; background: yellow!important; width: 90px; height: 60px;}


.partners{width: 200px; display:block; position: absolute; right: 40px; bottom:40px;}


@import 'media';