!!! 5
%html
 %head
  %title Netopay Digital
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  %link{rel:'icon', type:'image/png', href:'../images/favicon-color.png'} 
  
  %link{href:"../css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"../js/min/jquery-min.js"}
  %script{src:"../js/min/easing-min.js"}
  %script{src:"../js/min/scroll-min.js"}
  %script{src:"../js/min/head-min.js"}
  %script{src:"../js/min/headjq-min.js"}
  %script{src:"../js/min/slides-min.js"}
  %script{src:"../js/min/form-min.js"}
  %script{src:"../js/min/check-min.js"}
    
 
 %body 
  %script{src:'../mail/mail-min.js'}
  .thk.off Ihre nachricht wurde gesendet. Danke
  
  
  %header
   .logo
    %a{href:'/de/'}
     %img{src:"../images/svg/logo.svg"}
   .langnav DE
   .mobnav Menü
   
   .langs
    %ul
     %li
      %a{href:'/ua/'} UA
     %li
      %a{href:'/ru/'} RU
     %li
      %a{href:'/en/'} EN
     %li
      %a{href:'/de/'} DE
   
   .nav
    %ul
     %li
      %a{href:'#about'}  ÜBER SERVICE
     %li
      %a{href:'#pluses'}  Vorteile
     %li
      %a{href:'#works'}  wie seine Werke
     %li
      %a{href:'#know'}  wissenswert
     %li
      %a{href:'#laws'}  GESETZGEBUNG
     %li
      %a{href:'#contact'}  KONTAKT 
      
     
  %section.start
   .overlay
    .hello
     %img{src:'../images/svg/stde.svg'}
    .next 
    .scroll.animated.bounceMouse 
   .loops 
   
   
    #slides
     .slides-container
      %img{src:""}
      %img{src:""}
      
  
  
  
  
  
  
  
  
  
  %section.about#about
   %h1 ÜBER SERVICE
   .inner
    .about_text 
     %p Netopay Digital ist ein Service, der dem Kunden die Bezahlung von digitalen Waren und Dienstleistungen an Cash-In Terminals, Kassen im Einzelhandel, an Tankstellen (POS-Terminals), in Wechselstuben und über das Internet ermöglicht
     %p.add Als digitale Ware und Dienstleistungen werden alle Produkte bezeichnet, die in elektronischer Form bereitgestellt werden, wie z. B. virtuelles Geld, Software, Video- und Audioinhalte, Bücher, Musik und vieles mehr
   
  
  
  
  
  
  
  
  
  
  
  
  
  #pluses
   %section.time
    %h1#src_title netopay digital Vorteile
    .inner
     .timeline-all
     
      .timeline-partical.p1{:"data-parallax" => '{"y": -2250, "from-scroll": 300,  "distance": 800, "smoothness": 10, "duration":200}'}
      .timeline-partical.p2{:"data-parallax" => '{"y": -2200, "from-scroll": 530,  "distance": 800, "smoothness": 40, "duration":300}'}
      .timeline-partical.p3{:"data-parallax" => '{"y": -2000, "from-scroll": 430,  "distance": 800, "smoothness": 10, "duration":250}'}
      .timeline-partical.p4{:"data-parallax" => '{"y": -1900, "from-scroll": 730,  "distance": 800, "smoothness": 50, "duration":450}'}
      .timeline-partical.p5{:"data-parallax" => '{"y": -1700, "from-scroll": 830,  "distance": 800, "smoothness": 70, "duration":650}'}
      .timeline-partical.p6{:"data-parallax" => '{"y": -1700, "from-scroll": 1400,  "distance": 800, "smoothness": 20, "duration":1250}'}
      .timeline-partical.p7{:"data-parallax" => '{"y": -1700, "from-scroll": 1630,  "distance": 800, "smoothness": 80, "duration":850}'}
      .timeline-partical.p8{:"data-parallax" => '{"y": -1500, "from-scroll": 1700,  "distance": 800, "smoothness": 10, "duration":250}'}
      .timeline-partical.p9{:"data-parallax" => '{"y": -1900, "from-scroll": 1800,  "distance": 800, "smoothness": 30, "duration":340}'}
      .timeline-partical.p10{:"data-parallax" => '{"y": -1800, "from-scroll": 2000,  "distance": 800, "smoothness": 30, "duration":340}'}
      .timeline-partical.p11{:"data-parallax" => '{"y": -1800, "from-scroll": 2000,  "distance": 800, "smoothness": 30, "duration":340}'}
      .timeline-partical.p12{:"data-parallax" => '{"y": -1800, "from-scroll": 1900,  "distance": 800, "smoothness": 10, "duration":440}'}
      .timeline-partical.p13{:"data-parallax" => '{"y": -1800, "from-scroll": 1900,  "distance": 800, "smoothness": 20, "duration":400}'}
      .timeline-partical.p14{:"data-parallax" => '{"y": -1800, "from-scroll": 2100,  "distance": 800, "smoothness": 40, "duration":640}'}
      .timeline-partical.p15{:"data-parallax" => '{"y": -1800, "from-scroll": 2300,  "distance": 800, "smoothness": 40, "duration":640}'}
      .timeline-partical.p16{:"data-parallax" => '{"y": -1800, "from-scroll": 2100,  "distance": 800, "smoothness": 40, "duration":640}'}
      .timeline-partical.p17{:"data-parallax" => '{"y": -1800, "from-scroll": 2300,  "distance": 800, "smoothness": 80, "duration":540}'}
      .timeline-partical.p18{:"data-parallax" => '{"y": -1600, "from-scroll": 2600,  "distance": 800, "smoothness": 80, "duration":740}'}
      .timeline-partical.p19{:"data-parallax" => '{"y": -1800, "from-scroll": 2500,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p20{:"data-parallax" => '{"y": -1800, "from-scroll": 2500,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p21{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p22{:"data-parallax" => '{"y": -500, "from-scroll": 2800,  "distance": 800, "smoothness": 90, "duration":640}'}
      .timeline-partical.p23{:"data-parallax" => '{"y": -1000, "from-scroll": 2900,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p24{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p25{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p26{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
     
      .timeline-axis
       .axis-center
     
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.tr.nums{:"data-parallax" => '{"x": 45, "from-scroll": 600,  "distance": 800, "smoothness": 10}'} 1
        .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 0, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -44, "from-scroll": 600, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_1 Dem Anbieter wird garantiert, dass er den Kaufpreises für die digitalen Waren/Dienstleistungen vom Endkunden erhält 
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 47, "from-scroll": 700, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_2 Abwicklung von Zahlungen mit nicht ansässigen Unternehmen in der Währung gemäß den geltenden Rechtsvorschriften
        .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 300, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.tl.nums{:"data-parallax" => '{"x": -45, "from-scroll": 850,  "distance": 800, "smoothness": 10}'} 2  
       
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.tr.nums{:"data-parallax" => '{"x": 45, "from-scroll": 1100,  "distance": 800, "smoothness": 10}'} 3
        .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 600, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -44, "from-scroll": 1000, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_3 Optimierung der mit der Einfuhr von Waren und Dienstleistungen verbundenen Kosten und Steuersenkungen 
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 47, "from-scroll": 1300, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_4 Gewährleistung einer universellen Preisgestaltung für die Waren und Dienstleistungen in Echtzeit und Minimierung von Wechselkursrisiken für den Anbieter beim Devisenhandel auf regionalen Märkten
        .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 900, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.tl.nums{:"data-parallax" => '{"x": -45, "from-scroll": 1350,  "distance": 800, "smoothness": 10}'} 4 
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.tr.nums{:"data-parallax" => '{"x": 45, "from-scroll": 1650,  "distance": 800, "smoothness": 10}'} 5
        .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 1200, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -45, "from-scroll": 1600, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_5 Gewährleistung von Informations- und Finanzsicherheit für alle am Import und Verkauf der digitalen Waren/Dienstleistungen an den Endkunden Beteiligten 
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 47, "from-scroll": 1850, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_6 Festlegung der rechtsgeschäftlichen Beziehungen zwischen den Service-Beteiligten bei der Abwicklung von Kauf und Verkauf der digitalen Waren/Dienstleistungen und Bestimmung der finanziellen Haftung der Beteiligten
        .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 1500, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.tl.nums{:"data-parallax" => '{"x": -45, "from-scroll": 2000,  "distance": 800, "smoothness": 10}'} 6            
    
    
    
    
   %section.time-mobile
    .inner
     %h1#for_title
    
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_1
    
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_2
    
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_3
     
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_4
     
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_5
     
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_6     
             
  
  
  %section.scheme#works
   %h1 wie seine Werke
   .inner
    %img{src:'../images/svg/scheme_de.svg'}
    
  
  
  
  
  
  
  
  
  
  
  %section.digits#know
   %h1 wissenswert
   .for_parallax{:"data-parallax" => '{"x": 3000, "distance": 20000, "smoothness": 10}'}
   .for_parallax2{:"data-parallax" => '{"x": -5000, "distance": 18000, "smoothness": 30}'}
   .for_parallax3{:"data-parallax" => '{"x": -3000, "distance": 18000, "smoothness": 20}'}
   .inner 
    .digitals
     #plate_1.one_digital Unter Digital-Ware wird im System NETOPAY ein spezieller elektronischer Code – Quant verstanden
     #plate_2.one_digital Jeder Quant stellt einen einzigartigen Datenpaket dar, das durch die Wechselwirkung mit digitalen Waren oder Dienstleistungen einzelne Teile entsprechend aktiviert
     #plate_3.one_digital Rechtlich gesehen ist der Quant die Geltendmachung eines Anspruches des Inhabers der Quants dem Hersteller gegenüber zur Lieferung von digitaler Ware und Dienstleistungen in einem bestimmten Umfang
     #plate_4.one_digital Aus Sicht der Regulierungs- und Kontrollbehörden der Ukraine ist der Quant ein Zugangscode zu den Softwarekomplexen und -systemen der Hersteller. Der Import und Vertrieb der Quants ist erlaubt und gesetzlich geregelt
     #plate_5.one_digital Aus technischer Sicht ist der Quant ein verschlüsseltes Dokument in elektronischer Form, das alle Informationen über den Hersteller, die Ware (oder Dienstleistung), ihren Wert, die Liefer- und Einsatzbedingungen sowie sonstige, für die Kaufabwicklung notwendige Informationen enthält
     #plate_6.one_digital Aus finanzieller  Sicht ist der Quant ein einzigartiges Instrument zur Verrechnung der Werte in elektronischer Form, wobei die Transaktionen in Echtzeit durchgeführt werden und nicht widerrufbar sind. Alle Transaktionen werden mithilfe des Services Netopay Digital umgesetzt
     
  %section.laws#laws
   .inner
    %h1 Gesetzliche Vorschriften
    .laws_list
     %ul
      %li Der Service entspricht in vollem Umfang den regionalen und internationalen Rechtsvorschriften der Finanzmärkte der verschiedenen geografischen Regionen
      %li In den Verträgen, die zwischen den Service-Beteiligten abgeschlossen werden, werden die Rechtsvorschriften des Arbeitskreises Maßnahmen zur Geldwäschebekämpfung (FATF) berücksichtigt
      %li Alle Service-Beteiligten durchlaufen die vorgeschriebene Legitimationsprüfung KYC zur Verhinderung von Geldwäsche.
      %li Alle Verträge entsprechen den Bestimmungen des Europäischen Amtes für Betrugsbekämpfung OLAF
      %li Alle Nutzer des Services unterzeichnen eine Vereinbarung / bestätigen ihr Einverständnis mit dem „Anti-Money Laundering Agreement“ und dem „Anti-Financial Fraud Compliance”
     
	   
     
	  
  
  
  
  
  
  
  
  
  
  
  
  %section.contacts#contact
   .inner
    %h1.center Kontakt
    .contacts-block
     .contacts-left
      .myform
       %form{id:'myform', method:'post', action:''}
        %input{class:'field', type:'text', placeholder:'E-mail', id:'em', name:'em', onkeyup:'check();'}
        %input{class:'field', type:'text', placeholder:'Gegenstand', id:'sb', name:'sb', onkeyup:'check();'}
        %textarea{class:'field tx', placeholder:'Nachricht', id:'feed', name:'feed'}
        %button{type:'submit', id:'send', class:'btn disable'} Senden
     .contacts-right
      .contacts-details
       %p.hea NETOPAY PDC LTD
       %p.sep Suite 13051
       %p 43 Bedford Street
       %p London WC2E 9HA
       %p England       
      .contacts-details.add-details
       %p.hea Vertretung in der Ukraine
       %p.hea «Netopay DС» LLC 
       %p.sep Novokonstantynovskaya str. 13/10
       %p 04080 Kiew, Ukraine
       %p.sep e-mail: digital@netopay.email
       %p tel: +380 44 205 56 77
       %p fax: +380 44 205 56 78
     .clear   
  
  .footer
   .fleft
    %img{src:'../images/svg/footer_logo.svg'}
   .fright.imp
    %a{href:'imprint.html', class:'to_imp'} Imprint
   .clear
  
    
  %script{src:"../js/min/anim-min.js"}
  %script{src:"../js/min/copy-min.js"}
   
      