!!! 5
%html
 %head
  %title Netopay Digital
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  %link{rel:'icon', type:'image/png', href:'../images/favicon-color.png'} 
  
  %link{href:"../css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"../js/min/jquery-min.js"}
  %script{src:"../js/min/easing-min.js"}
  %script{src:"../js/min/scroll-min.js"}
  %script{src:"../js/min/head-min.js"}
  %script{src:"../js/min/headjq-min.js"}
  %script{src:"../js/min/slides-min.js"}
  %script{src:"../js/min/form-min.js"}
  %script{src:"../js/min/check-min.js"}
    
 
 %body 
  %script{src:'../mail/mail-min.js'}
  .thk.off	Ваше повідомлення відправлено. Дякуємо!
  
  
  %header
   .logo
    %a{href:'/ua/'}
     %img{src:"../images/svg/logo.svg"}
   .langnav UA
   .mobnav MЕНЮ
   
   .langs
    %ul
     %li
      %a{href:'/ua/'} UA
     %li
      %a{href:'/ru/'} RU
     %li
      %a{href:'/en/'} EN
     %li
      %a{href:'/de/'} DE
   
   .nav
    %ul
     %li
      %a{href:'#about'}  Про сервіс
     %li
      %a{href:'#pluses'}  Переваги
     %li
      %a{href:'#works'}  Як це працює
     %li
      %a{href:'#know'}  варто знати
     %li
      %a{href:'#laws'}  законодавство
     %li
      %a{href:'#contact'}  контакти 
      
     
  %section.start
   .overlay
    .hello
     %img{src:'../images/svg/stua.svg'}
    .next 
    .scroll.animated.bounceMouse 
   .loops 
   
   
    #slides
     .slides-container
      %img{src:""}
      %img{src:""}
      
  
  
  
  
  
  
  
  
  
  %section.about#about
   %h1 ПРО СЕРВІС
   .inner
    .about_text 
     %p Netopay Digital –  це сервіс, який забезпечує можливість оплати цифрових товарів і послуг споживачами через термінали самообслуговування (Cash-In), каси підприємств роздрібної торгівлі та АЗС (POS), відділення обміну валют та Інтернет
     %p.add Під цифровими товарами і послугами маються на увазі будь-які продукти, що поставляються в електронному вигляді, такі як, наприклад, ігрові гроші, програмне забезпечення, відео- та аудіоконтент, книги і багато іншого
   
  
  
  
  
  
  
  
  
  
  
  
  
  #pluses
   %section.time
    %h1#src_title Переваги netopay digital
    .inner
     .timeline-all
     
      .timeline-partical.p1{:"data-parallax" => '{"y": -2250, "from-scroll": 300,  "distance": 800, "smoothness": 10, "duration":200}'}
      .timeline-partical.p2{:"data-parallax" => '{"y": -2200, "from-scroll": 530,  "distance": 800, "smoothness": 40, "duration":300}'}
      .timeline-partical.p3{:"data-parallax" => '{"y": -2000, "from-scroll": 430,  "distance": 800, "smoothness": 10, "duration":250}'}
      .timeline-partical.p4{:"data-parallax" => '{"y": -1900, "from-scroll": 730,  "distance": 800, "smoothness": 50, "duration":450}'}
      .timeline-partical.p5{:"data-parallax" => '{"y": -1700, "from-scroll": 830,  "distance": 800, "smoothness": 70, "duration":650}'}
      .timeline-partical.p6{:"data-parallax" => '{"y": -1700, "from-scroll": 1400,  "distance": 800, "smoothness": 20, "duration":1250}'}
      .timeline-partical.p7{:"data-parallax" => '{"y": -1700, "from-scroll": 1630,  "distance": 800, "smoothness": 80, "duration":850}'}
      .timeline-partical.p8{:"data-parallax" => '{"y": -1500, "from-scroll": 1700,  "distance": 800, "smoothness": 10, "duration":250}'}
      .timeline-partical.p9{:"data-parallax" => '{"y": -1900, "from-scroll": 1800,  "distance": 800, "smoothness": 30, "duration":340}'}
      .timeline-partical.p10{:"data-parallax" => '{"y": -1800, "from-scroll": 2000,  "distance": 800, "smoothness": 30, "duration":340}'}
      .timeline-partical.p11{:"data-parallax" => '{"y": -1800, "from-scroll": 2000,  "distance": 800, "smoothness": 30, "duration":340}'}
      .timeline-partical.p12{:"data-parallax" => '{"y": -1800, "from-scroll": 1900,  "distance": 800, "smoothness": 10, "duration":440}'}
      .timeline-partical.p13{:"data-parallax" => '{"y": -1800, "from-scroll": 1900,  "distance": 800, "smoothness": 20, "duration":400}'}
      .timeline-partical.p14{:"data-parallax" => '{"y": -1800, "from-scroll": 2100,  "distance": 800, "smoothness": 40, "duration":640}'}
      .timeline-partical.p15{:"data-parallax" => '{"y": -1800, "from-scroll": 2300,  "distance": 800, "smoothness": 40, "duration":640}'}
      .timeline-partical.p16{:"data-parallax" => '{"y": -1800, "from-scroll": 2100,  "distance": 800, "smoothness": 40, "duration":640}'}
      .timeline-partical.p17{:"data-parallax" => '{"y": -1800, "from-scroll": 2300,  "distance": 800, "smoothness": 80, "duration":540}'}
      .timeline-partical.p18{:"data-parallax" => '{"y": -1600, "from-scroll": 2600,  "distance": 800, "smoothness": 80, "duration":740}'}
      .timeline-partical.p19{:"data-parallax" => '{"y": -1800, "from-scroll": 2500,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p20{:"data-parallax" => '{"y": -1800, "from-scroll": 2500,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p21{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p22{:"data-parallax" => '{"y": -500, "from-scroll": 2800,  "distance": 800, "smoothness": 90, "duration":640}'}
      .timeline-partical.p23{:"data-parallax" => '{"y": -1000, "from-scroll": 2900,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p24{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p25{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p26{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
     
      .timeline-axis
       .axis-center
     
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.tr.nums{:"data-parallax" => '{"x": 45, "from-scroll": 600,  "distance": 800, "smoothness": 10}'} 1
        .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 0, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -44, "from-scroll": 600, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_1 Забезпечення гарантій компаніям-виробникам в отриманні коштів, отриманих в результаті реалізації цифрових товарів і послуг кінцевим споживачам 
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 47, "from-scroll": 700, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_2 Здійснення розрахунків з компаніями-нерезидентами у валюті відповідно до чинного законодавства
        .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 300, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.tl.nums{:"data-parallax" => '{"x": -45, "from-scroll": 850,  "distance": 800, "smoothness": 10}'} 2  
       
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.tr.nums{:"data-parallax" => '{"x": 45, "from-scroll": 1100,  "distance": 800, "smoothness": 10}'} 3
        .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 600, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -44, "from-scroll": 1000, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_3 Оптимізація витрат, пов'язаних з імпортом товарів і послуг, і зменшення податкових витрат 
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 47, "from-scroll": 1300, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_4 Забезпечення можливості універсального ціноутворення на товари і послуги в режимі реального часу і мінімізація валютних ризиків купівлі/продажу валюти на регіональних ринках для компаній-виробників
        .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 900, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.tl.nums{:"data-parallax" => '{"x": -45, "from-scroll": 1350,  "distance": 800, "smoothness": 10}'} 4 
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.tr.nums{:"data-parallax" => '{"x": 45, "from-scroll": 1650,  "distance": 800, "smoothness": 10}'} 5
        .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 1200, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -45, "from-scroll": 1600, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_5 Забезпечення інформаційної та фінансової безпеки всіх учасників бізнес-процесів імпорту та продажу цифрових товарів/послуг кінцевим споживачам 
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 47, "from-scroll": 1850, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_6 Встановлення юридично-значимих взаємин між учасниками сервісу при здійсненні ними купівлі/продажу цифрових товарів/послуг та фіксація фінансової відповідальності учасників
        .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 1500, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.tl.nums{:"data-parallax" => '{"x": -45, "from-scroll": 2000,  "distance": 800, "smoothness": 10}'} 6            
    
    
    
    
   %section.time-mobile
    .inner
     %h1#for_title
    
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_1
    
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_2
    
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_3
     
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_4
     
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_5
     
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_6     
             
  
  
  %section.scheme#works
   %h1 Як це працює
   .inner
    %img{src:'../images/svg/scheme.svg'}
    
  
  
  
  
  
  
  
  
  
  
  %section.digits#know
   %h1 варто знати
   .for_parallax{:"data-parallax" => '{"x": 3000, "distance": 20000, "smoothness": 10}'}
   .for_parallax2{:"data-parallax" => '{"x": -5000, "distance": 18000, "smoothness": 30}'}
   .for_parallax3{:"data-parallax" => '{"x": -3000, "distance": 18000, "smoothness": 20}'}
   .inner 
    .digitals
     #plate_1.one_digital Під цифровим товаром в термінах системи Netopay Digital мається на увазі спеціальний код в електронному вигляді — Quant
     #plate_2.one_digital Кожен Quant являє собою неповторний набір даних, який в результаті взаємодії з товаром або послугою виробника призводить окремі її частини в дію
     #plate_3.one_digital З юридичної точки зору, Quant — це юридично значима вимога пред'явника до компанії-виробника на отримання товару або послуги у заздалегідь визначеному обсязi
     #plate_4.one_digital З точки зору регулюючих і контролюючих органів України, Quant - це код доступу до програмних комплексів і систем компаній-виробників, його імпорт і розповсюдження на території України дозволено і регулюється законами, нормативно-правовими актами та правилами
     #plate_5.one_digital З технічної точки зору, Quant - це зашифрований документ в електронному вигляді, який містить всю інформацію про виробника, товар (або послугу), його вартості, умов поставки та застосування, а також іншу необхідну для проведення угоди інформацію
     #plate_6.one_digital З фінансової точки зору, Quant являє собою унікальний обліковий інструмент цінностей в електронному вигляді, а транзакції з його використанням миттеві та безвідкличні. Усі транзакції проводяться з використанням сервісу Netopay Digital
     
  %section.laws#laws
   .inner
    %h1 Законодавство
    .laws_list
     %ul
      %li Діяльність сервісу повністю відповідає регіональним і міжнародним законодавчим нормам і правилам фінансових ринків в різних географічних регіонах
      %li  У договорах, укладених між учасниками сервісу, враховуються законодавчі норми та вимоги щодо протидії фінансуванню тероризму та відмивання грошей (FATF)
      %li Всі учасники системи підлягають перевірці відповідно до нормативів KYC з метою протидії відмиванню грошей
      %li Всі користувачі сервісу підписують угоди/підтверджують згоду з «Anti-Money Laundering Agreement» та «Anti-Financial Fraud Compliance»
      %li Всі договори відповідають вимогам OLAF
     
	   
     
	  
  
  
  
  
  
  
  
  
  
  
  
  %section.contacts#contact
   .inner
    %h1.center Контакти
    .contacts-block
     .contacts-left
      .myform
       %form{id:'myform', method:'post', action:''}
        %input{class:'field', type:'text', placeholder:'E-mail', id:'em', name:'em', onkeyup:'check();'}
        %input{class:'field', type:'text', placeholder:'Тема', id:'sb', name:'sb', onkeyup:'check();'}
        %textarea{class:'field tx', placeholder:'Текст повідомлення', id:'feed', name:'feed'}
        %button{type:'submit', id:'send', class:'btn disable'} Відправити
     .contacts-right
      .contacts-details
       %p.hea NETOPAY PDC LTD
       %p.sep Suite 13051
       %p 43 Bedford Street
       %p London WC2E 9HA
       %p England       
      .contacts-details.add-details
       %p.hea Представництво в Україні
       %p.hea ТОВ «Нетопей Ді Сі» 
       %p.sep вул. Новокостянтинівська, 13/10
       %p 04080 м. Київ, Україна
       %p.sep e-mail: digital@netopay.email
       %p Телефон: +380 44 205 56 77
       %p Факс: +380 44 205 56 78
     .clear   
  
  .footer
   .fleft
    %img{src:'../images/svg/footer_logo.svg'}
   .fright.imp
    %a{href:'imprint.html', class:'to_imp'} Imprint
   .clear
  
    
  %script{src:"../js/min/anim-min.js"}
  %script{src:"../js/min/copy-min.js"}
   
      