!!! 5
%html
 %head
  %title Netopay Digital
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  %link{rel:'icon', type:'image/png', href:'../images/favicon-color.png'} 
  
  %link{href:"../css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"../js/min/jquery-min.js"}
  %script{src:"../js/min/easing-min.js"}
  %script{src:"../js/min/scroll-min.js"}
  %script{src:"../js/min/head-min.js"}
  %script{src:"../js/min/headjq-min.js"}
  %script{src:"../js/min/slides-min.js"}
  %script{src:"../js/min/form-min.js"}
  %script{src:"../js/min/check-min.js"}
    
 
 %body 
  %script{src:'../mail/mail-min.js'}
  .thk.off	Ваше сообщение отправлено. Спасибо!
  
  
  %header
   .logo
    %a{href:'/ru/'}
     %img{src:"../images/svg/logo.svg"}
   .langnav RU
   .mobnav MЕНЮ
   
   .langs
    %ul
     %li
      %a{href:'/ua/'} UA
     %li
      %a{href:'/ru/'} RU
     %li
      %a{href:'/en/'} EN
     %li
      %a{href:'/de/'} DE
   
   .nav
    %ul
     %li
      %a{href:'#about'}  О сервисе
     %li
      %a{href:'#pluses'}  Преимущества
     %li
      %a{href:'#works'}  Как работатет
     %li
      %a{href:'#know'}  Важно знать
     %li
      %a{href:'#laws'}  законодадельство
     %li
      %a{href:'#contact'}  контакты
      
     
  %section.start
   .overlay
    .hello
     %img{src:'../images/svg/stru.svg'}
    .next 
    .scroll.animated.bounceMouse 
   .loops 
   
   
    #slides
     .slides-container
      %img{src:""}
      %img{src:""}
      
  
  
  
  
  
  
  
  
  
  %section.about#about
   %h1 О сервисе
   .inner
    .about_text 
     %p Netopay Digital –  обеспечивает возможность оплаты цифровых товаров и услуг потребителями через терминалы самообслуживания (Cash-In), кассы предприятий розничной торговли и АЗС (POS), отделения обмена валют и Интернет
     %p.add Под цифровыми товарами и услугами подразумеваются любые продукты, поставляемые в электронном виде, такие как, например, игровые деньги, программное обеспечение, видео- и аудиоконтент, книги, музыка и многое другое
   
  
  
  
  
  
  
  
  
  
  
  
  
  #pluses
   %section.time
    %h1#src_title Преимущества netopay digital
    .inner
     .timeline-all
     
      .timeline-partical.p1{:"data-parallax" => '{"y": -2250, "from-scroll": 300,  "distance": 800, "smoothness": 10, "duration":200}'}
      .timeline-partical.p2{:"data-parallax" => '{"y": -2200, "from-scroll": 530,  "distance": 800, "smoothness": 40, "duration":300}'}
      .timeline-partical.p3{:"data-parallax" => '{"y": -2000, "from-scroll": 430,  "distance": 800, "smoothness": 10, "duration":250}'}
      .timeline-partical.p4{:"data-parallax" => '{"y": -1900, "from-scroll": 730,  "distance": 800, "smoothness": 50, "duration":450}'}
      .timeline-partical.p5{:"data-parallax" => '{"y": -1700, "from-scroll": 830,  "distance": 800, "smoothness": 70, "duration":650}'}
      .timeline-partical.p6{:"data-parallax" => '{"y": -1700, "from-scroll": 1400,  "distance": 800, "smoothness": 20, "duration":1250}'}
      .timeline-partical.p7{:"data-parallax" => '{"y": -1700, "from-scroll": 1630,  "distance": 800, "smoothness": 80, "duration":850}'}
      .timeline-partical.p8{:"data-parallax" => '{"y": -1500, "from-scroll": 1700,  "distance": 800, "smoothness": 10, "duration":250}'}
      .timeline-partical.p9{:"data-parallax" => '{"y": -1900, "from-scroll": 1800,  "distance": 800, "smoothness": 30, "duration":340}'}
      .timeline-partical.p10{:"data-parallax" => '{"y": -1800, "from-scroll": 2000,  "distance": 800, "smoothness": 30, "duration":340}'}
      .timeline-partical.p11{:"data-parallax" => '{"y": -1800, "from-scroll": 2000,  "distance": 800, "smoothness": 30, "duration":340}'}
      .timeline-partical.p12{:"data-parallax" => '{"y": -1800, "from-scroll": 1900,  "distance": 800, "smoothness": 10, "duration":440}'}
      .timeline-partical.p13{:"data-parallax" => '{"y": -1800, "from-scroll": 1900,  "distance": 800, "smoothness": 20, "duration":400}'}
      .timeline-partical.p14{:"data-parallax" => '{"y": -1800, "from-scroll": 2100,  "distance": 800, "smoothness": 40, "duration":640}'}
      .timeline-partical.p15{:"data-parallax" => '{"y": -1800, "from-scroll": 2300,  "distance": 800, "smoothness": 40, "duration":640}'}
      .timeline-partical.p16{:"data-parallax" => '{"y": -1800, "from-scroll": 2100,  "distance": 800, "smoothness": 40, "duration":640}'}
      .timeline-partical.p17{:"data-parallax" => '{"y": -1800, "from-scroll": 2300,  "distance": 800, "smoothness": 80, "duration":540}'}
      .timeline-partical.p18{:"data-parallax" => '{"y": -1600, "from-scroll": 2600,  "distance": 800, "smoothness": 80, "duration":740}'}
      .timeline-partical.p19{:"data-parallax" => '{"y": -1800, "from-scroll": 2500,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p20{:"data-parallax" => '{"y": -1800, "from-scroll": 2500,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p21{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p22{:"data-parallax" => '{"y": -500, "from-scroll": 2800,  "distance": 800, "smoothness": 90, "duration":640}'}
      .timeline-partical.p23{:"data-parallax" => '{"y": -1000, "from-scroll": 2900,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p24{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p25{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
      .timeline-partical.p26{:"data-parallax" => '{"y": -1000, "from-scroll": 2700,  "distance": 800, "smoothness": 50, "duration":540}'}
     
      .timeline-axis
       .axis-center
     
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.tr.nums{:"data-parallax" => '{"x": 45, "from-scroll": 600,  "distance": 800, "smoothness": 10}'} 1
        .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 0, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -44, "from-scroll": 600, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_1 Обеспечение гарантий компаниям-производителям в получении средств, полученных в результате реализации цифровых товаров и услуг конечным потребителям 
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 47, "from-scroll": 700, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_2 Обеспечение полного соответствия региональным и международным законодательным нормам и правилам финансовых рынков в различных географических регионах
        .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 300, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.tl.nums{:"data-parallax" => '{"x": -45, "from-scroll": 850,  "distance": 800, "smoothness": 10}'} 2  
       
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.tr.nums{:"data-parallax" => '{"x": 45, "from-scroll": 1100,  "distance": 800, "smoothness": 10}'} 3
        .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 600, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -44, "from-scroll": 1000, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_3 Уменьшение комиссионных затрат, связанных с проведением и обслуживанием платежных транзакций и финансовых взаиморасчетов 
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 47, "from-scroll": 1300, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_4 Оптимизация налоговых расходов и других отчислений в рамках действующего законодательства
        .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 900, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.tl.nums{:"data-parallax" => '{"x": -45, "from-scroll": 1350,  "distance": 800, "smoothness": 10}'} 4 
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.tr.nums{:"data-parallax" => '{"x": 45, "from-scroll": 1650,  "distance": 800, "smoothness": 10}'} 5
        .timeline-center{:"data-parallax" => '{"x": 16, "from-scroll": 1200, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.bordered{:"data-parallax" => '{"x": -45, "from-scroll": 1600, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_5 Обеспечение информационной и финансовой безопасности всех участников бизнес-процессов импорта и продажи товаров потребителям 
       
      .timeline-block
       .timeline-content
        .timeline-content-side.fl.bordered{:"data-parallax" => '{"x": 47, "from-scroll": 1850, "distance": 800, "smoothness": 10, "duration":100}'}
         %p#src_6 Установление юридически значимых отношений между участниками сервиса при осуществлении ими покупки/продажи цифровых товаров/услуг и фиксация финансовой ответственности участников
        .timeline-center{:"data-parallax" => '{"x": -15, "from-scroll": 1500, "distance": 400, "smoothness": 10, "duration":10}'}
        .timeline-content-side.fr.tl.nums{:"data-parallax" => '{"x": -45, "from-scroll": 2000,  "distance": 800, "smoothness": 10}'} 6            
    
    
    
    
   %section.time-mobile
    .inner
     %h1#for_title
    
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_1
    
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_2
    
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_3
     
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_4
     
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_5
     
     .mobile_timeline_block
      .mobile_num.colorized_3 +
      .mobile_content#for_src_6     
             
  
  
  %section.scheme#works
   %h1 Модель работы
   .inner
    %img{src:'../images/svg/scheme_ru.svg'}
    
  
  
  
  
  
  
  
  
  
  
  %section.digits#know
   %h1 Важно знать
   .for_parallax{:"data-parallax" => '{"x": 3000, "distance": 20000, "smoothness": 10}'}
   .for_parallax2{:"data-parallax" => '{"x": -5000, "distance": 18000, "smoothness": 30}'}
   .for_parallax3{:"data-parallax" => '{"x": -3000, "distance": 18000, "smoothness": 20}'}
   .inner 
    .digitals
     #plate_1.one_digital Под цифровым товаром в терминах сервиса Netopay Digital подразумевается специальный код в электронном виде — Quant
     #plate_2.one_digital Каждый Quant представляет собой неповторимый набор данных, который в результате взаимодействия с товаром или услугой производителя приводит отдельные ее части в действие
     #plate_3.one_digital С юридической точки зрения, Quant – это юридически значимое требование предъявителя к компании-производителю на получение товара или услуги в заранее определенном объеме
     #plate_4.one_digital С точки зрения регулирующих и контролирующих органов Украины, Quant – это код доступа к программным комплексам и системам компаний-производителей, eго импорт и распространение на территории Украины разрешен и регулируется законами, нормативно-правовыми актами и правилами
     #plate_5.one_digital С технической точки зрения, Quant – это зашифрованный документ в электронном виде, который содержит всю информацию о производителе, товаре (или услуге), его стоимости, условий поставки и применения, а также другую необходимую для проведения сделки информацию
     #plate_6.one_digital С финансовой точки зрения, Quant представляет собой уникальный учетный инструмент ценностей в электронном виде, а транзакции с его использованием моментальны и безотзывны. Все транзакции проводятся с использованием сервиса Netopay Digital
     
  %section.laws#laws
   .inner
    %h1 Законодательство
    .laws_list
     %ul
      %li Деятельности сервиса полностью соответствует региональным и международным законодательным нормам и правилам финансовых рынков в различных географических регионов
      %li В договорах, заключаемых между участниками сервиса, учитываются законодательные нормы и требования по противодействию финансирования терроризма и отмывания денег (FATF)
      %li Все участники сервиса подлежат проверке в соответствии с нормативами KYC с целью противодействия отмыванию денег
      %li Все пользователи сервиса подписывают соглашения/подтверждают согласие с «Anti-Money Laundering Agreement» и «Anti-Financial Fraud Compliance»
      %li Все договора соответствуют требованиям OLAF
     
	   
     
	  
  
  
  
  
  
  
  
  
  
  
  
  %section.contacts#contact
   .inner
    %h1.center Контакты
    .contacts-block
     .contacts-left
      .myform
       %form{id:'myform', method:'post', action:''}
        %input{class:'field', type:'text', placeholder:'E-mail', id:'em', name:'em', onkeyup:'check();'}
        %input{class:'field', type:'text', placeholder:'Тема', id:'sb', name:'sb', onkeyup:'check();'}
        %textarea{class:'field tx', placeholder:'Текст сообщения', id:'feed', name:'feed'}
        %button{type:'submit', id:'send', class:'btn disable'} Отправить
     .contacts-right
      .contacts-details
       %p.hea NETOPAY PDC LTD
       %p.sep Suite 13051
       %p 43 Bedford Street
       %p London WC2E 9HA
       %p England       
      .contacts-details.add-details
       %p.hea Представительство в Украине
       %p.hea ООО «Нетопей Ди Си» 
       %p.sep ул. Новоконстантиновская, 13/10
       %p 04080 г. Киев, Украина
       %p.sep e-mail: digital@netopay.email
       %p Телефон: +380 44 205 56 77
       %p Факс: +380 44 205 56 78
     .clear   
  
  .footer
   .fleft
    %img{src:'../images/svg/footer_logo.svg'}
   .fright.imp
    %a{href:'imprint.html', class:'to_imp'} Imprint
   .clear
  
    
  %script{src:"../js/min/anim-min.js"}
  %script{src:"../js/min/copy-min.js"}
   
      