!!! 5
%html
 %head
  %title Netopay Credit – Imprint
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:""}
  %meta{name:"keywords", content:""}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  
  
  %link{href:"css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"js/min/jquery-min.js"}
  %script{src:"js/min/head-min.js"}
  %script{src:"js/min/headjq-min.js"}
  %script{src:"js/min/slides-min.js"}
  %script{src:"js/min/form-min.js"}
  %script{src:"js/min/check-min.js"}
 
 %body
  
   
    
    
  
  %header
   .logo
    %a{href:'/'}
     %img{src:"images/svg/logo.svg"}
   .mobnav МЕНЮ
   .nav
    %ul
     %li
      %a{href:'/'}  До головної
   
  %section.impr
   %h1 Imprint
   .info
    %h3 Защита данных
    %p Как правило использование нашего сайта может производиться без указания пользователями персональных данных. В том случае, если у пользователя возникнет необходимость в рамках использования нашего ресурса, указать свои персональные данные.
      
    %p Мы обязуемся не предоставлять ваши персональные данные третьим лицам без вашего согласия. Мы обязуемся собирать персональные данные исключительно в объеме, необходимом для определенных и указанных целей, и не использовать их в иных целях без вашего согласия. 
      
     
    %p Мы снимаем с себя ответственность за утрату данных, возникшую в результате утечки информации при пересылке электронной почты, или в результате других способов коммуникации.
      
    %h3 Google Analytics
    %p Данная страница использует Google Analytics. Google Analytics использует так называемые "Cookies" – текстовые файлы, которые сохраняются на вашем компьютере, и позволяют производить анализ посещаемости ресурса. Информация, полученная с помощью Cookie, сохраняется на сервере сервиса Google в США. Google будет использовать эту информацию для анализа использования вами нашей страницы. Google может в рамках своего сервиса передавать аналитические данные третьим лицам.
    
    
    %h3 Содержание
    %p Не смотря на тщательный и аккуратный подбор информации на нашем ресурсе, мы не можем принимать на себя ответственность за полноту, правильность и актуальность содержащейся на нем информации.
    %p Так же мы не несем ответственности за информацию, оформление и содержание интернет-ресурсов, ссылки на которые расположены на нашем сайте, либо за информацию, расположенную или сохраненную на нашем ресурсе третьими лицами.
    %p Это исключение ответственности является частью интернет-презентации компании N.KRAT Group GmbH. В том случае, если отдельные формулировки или части этого текста не соответствуют или соответствуют не в полной мере правовым положениям, остальные части этого заявления остаются в силе.
	
	
	
    
	
	
              
   
  .footer
   .fleft
    %img{src:'images/svg/footer_logo.svg'}
   .fright.imp
    %a{href:'imprint.html', class:'to_imp'} Imprint
   .clear   
    
     
	      
  
  
  
  
  
  
  %script{src:"js/min/anim-min.js"}	      
      
      
      
      
      
      
      
      
      
        
    