!!! 5
%html
 %head
  %title Netopay Finance
  %meta{name:"Content-Type", charset:"UTF-8"}
  %meta{name:"description", content:"Netopay Finance"}
  %meta{name:"keywords", content:"Netopay Finance"}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=yes"}
  %link{rel:'icon', type:'image/png', href:'../favicon.png'}
  
  %link{href:"css/main.css", rel:"stylesheet", type:"text/css", media:"screen"}
  %link{href:"https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,500,700,300italic,400italic&subset=latin,cyrillic", rel:"stylesheet", type:"text/css", media:"screen"}
  %script{src:"js/min/jquery-min.js"}
  %script{src:"js/min/head-min.js"}
  %script{src:"js/min/headjq-min.js"}
  %script{src:"js/min/slides-min.js"}
  %script{src:"js/min/form-min.js"}
  %script{src:"js/min/check-min.js"}
 
 %body
  
   
    
    
  
  %header
   .logo.desktop
    %a{href:'/de'}
     %img{src:"images/svg/logo.svg"}
     
   .langnav.unpub DE
   .mobnav Menü
   
   .langs
    %ul
     %li
      %a{href:'/ua/imprint.html'} UA
     %li
      %a{href:'/ru/imprint.html'} RU
     %li
      %a{href:'/en/imprint.html'} EN 
     %li
      %a{href:'/de/imprint.html'} DE  

   .nav
    %ul
     %li
      %a{href:'/de'}  zu Startseite
   
  %section.impr
   %h1 Imprint
   .info
    %h3 Datenschutz
    %p Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten (Emailadressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis.
      
    %p Die Inanspruchnahme und Bezahlung aller angebotenen Dienste ist - soweit technisch möglich und zumutbar - auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder eines Pseudonyms gestattet.
      
     
    
    %h3 Google Analytics
    %p Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den Cookie erzeugten Informationen über Ihre Benutzung diese Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten.
    
    
    %h3 Inhalt des Onlineangebotes
    %p Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen.
    %p Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich.
    %p Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
	    
	
    
	
	
              
   
  .footer
   .fleft
    %img{src:'images/svg/footer_logo.svg'}
   .fright.imp
    %a{href:'imprint.html', class:'to_imp'} Imprint
   .clear   
    
   
	      
  
  
  
  
  
  
  %script{src:"js/min/anim-min.js"}	      
      
      
      
      
      
      
      
      
      
        
    